{% load i18n %}
<style>
    .multi-field.uk:before {
        content: "UK";
        display: block;
        background: #fcf2f2;
        text-transform: uppercase;
        padding: 0.9em 0 0.9em 2em;
        font-size: 0.95em;
        margin: 0 0 0.2em -20px;
        line-height: 1.5em;
        font-weight: normal;

    }

    .multi-field.ru:before {
        content: "RU";
        display: block;
        background: #fcf2f2;
        text-transform: uppercase;
        padding: 0.9em 0 0.9em 2em;
        font-size: 0.95em;
        margin: 0 0 0.2em -20px;
        line-height: 1.5em;
        font-weight: normal;
    }
    .multi-field.en:before {
        content: "EN";
        display: block;
        background: #fcf2f2;
        text-transform: uppercase;
        padding: 0.9em 0 0.9em 2em;
        font-size: 0.95em;
        margin: 0 0 0.2em -20px;
        line-height: 1.5em;
        font-weight: normal;
    }
</style>
<li id="inline_child_{{ child.form.prefix }}">
    <ul class="controls">
        {% if can_order %}
            <li class="icon text-replace white icon-order-up inline-child-move-up" id="{{ child.form.prefix }}-move-up">{% trans "Move up" %}</li>
            <li class="icon text-replace white icon-order-down inline-child-move-down" id="{{ child.form.prefix }}-move-down">{% trans "Move down" %}</li>
        {% endif %}
        <li class="icon text-replace white icon-bin" id="{{ child.form.DELETE.id_for_label }}-button">{% trans "Delete" %}</li>
    </ul>
    {{ child.render_form_content }}
</li>
