{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}
<div class="for_block_partners">
    <div class="for_block_part_title">
        {% trans "Partners" %}
    </div>
    <div class="for_block_part_cont">
        <div id="for_bot_slider" class="owl-carousel owl-theme">
            {% for partner in partners %}
            <div class="item">
                <a href="{{ partner.link }}">
                    {% image partner.logo height-35 %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>