{% load wagtailcore_tags core_tags %}
<div class="for_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
{#                <div id="for_top_slider" class="owl-carousel owl-theme">#}
                <div id="for_top_slider">
                    {% for item in items %}
                    <div class="item">
{#                        {{ item.text|richtext }}#}
                        {%  trans_field item 'text' %}
                        {% if item.button_link %}
                            <div class="for_slide_block_4">
                                <a href="{{ item.button_link }}">
                                    {%  trans_field item 'button_text' %}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>