{% load core_tags wagtailcore_tags %}
{% get_site_root as site_root %}

<div class="for_top_menu">
    <ul>
        <li>
            <a href="{% pageurl site_root %}">{% trans_field site_root 'title' %}</a>
        </li>

        {% for menuitem in menuitems %}
            <li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
                {% if menuitem.specific.is_browsable %}
                    <a href="{% pageurl menuitem %}">{% trans_field menuitem 'title' %}</a>
                {% else %}
                    <a href="#">{% trans_field menuitem 'title' %}</a>
                {% endif %}
                {% if menuitem.show_dropdown %}
                    {% top_menu_children parent=menuitem %}
                {% endif %}
            </li>
        {% endfor %}

    </ul>
</div>

<br/>
<br/>
<br/>
