{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="for_pathway">
                <a href="#">Головна</a> > Про форум
            </div>
        </div>
        <div class="col-xs-12">
            <div class="for_block_about">
                <div class="for_block_title">
                    <div class="for_block_title_top">
                        <a href="#">
                            Про форум
                        </a>
                    </div>
                    <div class="for_block_title_bot">
                        <div class="for_block_title_bot_in"></div>
                    </div>
                </div>
                <div class="for_block_about_cont">
                    <div class="for_block_ab_top">
                        <span>Київський міжнародний економічний форум</span> – постійно діюча дискусійна платформа,
                        учасники якої формують новітню стратегію<br>
                        технологічної, соціальної та економічної модернізації України.
                    </div>
                    <div class="for_block_ab_list">
                        <div class="for_block_ab_list_title">
                            Цілі та завдання Форуму:
                        </div>
                        <div class="for_block_ab_list_in">
                            <ul>
                                <li>
                                    Сформувати загальне бачення шляхів модернізації економіки України;
                                </li>
                                <li>
                                    Розробити стратегії реформування економіки України, що базуватиметься на нових
                                    підходах до освіти, науки, розвитку<br>
                                    пріоритетних галузей та "точок зростання", шляхом консолідації представників
                                    бізнесу, влади та експертної спільноти в рамках<br>
                                    форуму;
                                </li>
                                <li>
                                    Довести розроблені стратегії до уряду України та міжнародних ділових і політичних
                                    кіл;
                                </li>
                                <li>
                                    Сформувати команду однодумців: бізнесменів, урядовців та експертів, які візьмуть
                                    участь в удосконаленні стратегії<br>
                                    економічного реформування країни та її практичній реалізації;
                                </li>
                                <li>
                                    Створити умови для конструктивного діалогу між представниками бізнесу, влади та
                                    професійної експертної спільноти з питань<br>
                                    пошуку нових джерел та ресурсів економічного зростання;
                                </li>
                                <li>
                                    Залучити до обговорення та консолідувати на площадці форуму усі сторони, зацікавлені
                                    у реалізації нової стратегії економічного<br>
                                    зрос тання країни.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="for_block_ab_img">
                        <img src="images/for_about.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="for_block_organization">
                <div class="for_block_org_title">
                    Організатори форуму
                </div>
                <div class="for_block_org_links">
                    <a href="#">
                        <img src="images/for_org_1.png" alt="organizator">
                    </a>
                    <a href="#">
                        <img src="images/for_org_2.png" alt="organizator">
                    </a>
                </div>
            </div>
            <div class="for_block_partners">
                <div class="for_block_part_title">
                    Партнери
                </div>
                <div class="for_block_part_cont">
                    <div id="for_bot_slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_1.png" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_2.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_3.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_4.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_5.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_6.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_7.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_1.png" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_2.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_3.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_4.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_5.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_6.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_7.jpg" alt="partner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
