{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="row">
        {#        <div class="col-xs-12">#}
        {#            <div class="for_pathway">#}
        {#                <a href="#">Головна</a> > Акредитація ЗМІ#}
        {#            </div>#}
        {#        </div>#}
        <div class="col-xs-12">
            <div class="for_block_ac">
                {#                <div class="for_block_title for_block_title_ac">#}
                {#                    <div class="for_block_title_top">#}
                {#                        <a href="#">#}
                {#                            Акредитація ЗМІ#}
                {#                        </a>#}
                {#                    </div>#}
                {#                    <div class="for_block_title_bot">#}
                {#                        <div class="for_block_title_bot_in"></div>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="for_block_ac_cont">
                    <div class="for_block_ac_cont_title">
                        {{ self.body|richtext }}
                    </div>
                    <div class="for_block_ac_form">
                        <form>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="for_ac_form_item">
                                        <div class="for_ac_form_item_title">
                                            ПІБ
                                        </div>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="for_ac_form_item">
                                        <div class="for_ac_form_item_title">
                                            Посада
                                        </div>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="for_ac_form_item">
                                        <div class="for_ac_form_item_title">
                                            Видання
                                        </div>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="for_ac_form_item">
                                        <div class="for_ac_form_item_title">
                                            Веб-адреса видання
                                        </div>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="for_ac_form_item">
                                        <div class="for_ac_form_item_title">
                                            Мобільний телефон
                                        </div>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="for_ac_form_item">
                                        <div class="for_ac_form_item_title">
                                            Робочий телефон
                                        </div>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="for_ac_form_item">
                                        <div class="for_ac_form_item_title">
                                            E-mail
                                        </div>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="for_ac_form_item">
                                        <div class="for_ac_form_item_title">
                                            Коли і в якому вигляді плануєте публікацію про форум?
                                        </div>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="for_ac_form_item">
                                        <div class="for_ac_form_item_title">
                                            Чи необхідна доп. інформація про форум або допомога в організації інтерв'ю?
                                        </div>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="for_ac_form_go">
                                        <input type="submit" value="Відправити">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
