{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
{#        <div class="col-xs-12">#}
{#            <div class="for_pathway">#}
{#                <a href="#">Головна</a> > <a href="#">Новини</a> > Бізнес- сніданок «Фінансування проектів розвитку»#}
{#            </div>#}
{#        </div>#}
        <div class="col-xs-12">
            <div class="for_block_bussines">
                <div class="for_block_title">
                    <div class="for_block_title_top">
                        <a href="#">
                            Бізнес- сніданок «Фінансування проектів розвитку»
                        </a>
                    </div>
                    <div class="for_block_title_bot">
                        <div class="for_block_title_bot_in"></div>
                    </div>
                </div>
                <div class="for_block_bus_cont">
                    <p>
                        12 листопада в Києві відбулась дискусія на тему «Фінансування проектів розвитку. Перспективи та
                        проблеми створення і<br>
                        функціонування Банку розвитку в Україні»
                    </p>
                    <img src="images/for_bussines.jpg" alt="image">

                    <p class="for_under">
                        Pахід відкрив серію фахових зустрічей, що передуватимуть другому Київському міжнародному
                        економічному форуму (КМЕФ), який<br>
                        відбудеться у столиці 8 жовтня 2015 року. В круглому столі, що пройшов у столичному готелі
                        Hilton Kyiv, взяли участь більше<br>
                        двадцяти українських та іноземних фінансових експертів, топ-менеджерів банків і урядовців.<br>
                        <br>
                        Цей захід відкрив серію фахових зустрічей, що передуватимуть другому Київському міжнародному
                        економічному форуму (КМЕФ),<br>
                        який відбудеться у столиці 8 жовтня 2015 року. В круглому столі, що пройшов у столичному готелі
                        Hilton Kyiv, взяли участь більше<br>
                        двадцяти українських та іноземних фінансових експертів, топ-менеджерів банків і урядовців.
                    </p>
                </div>
                <div class="for_block_doc_cont">
                    <div class="for_block_doc_item">
                        <div class="for_block_doc_img">
                            <a href="#">
                                <img src="images/for_doc_1.jpg" alt="image">
                            </a>
                        </div>
                        <div class="for_block_doc_right">
                            <div class="for_block_doc_date">20.12.2013</div>
                            <div class="for_block_doc_text">
                                Дискусія "Як зробити хай-тек<br>
                                локомотивом української<br>
                                економіки"
                            </div>
                            <div class="for_block_doc_download">
                                <a href="#">
                                    Завнтажити PDF
                                </a>
                            </div>
                        </div>
                        <div class="pad"></div>
                    </div>
                    <div class="pad"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="for_repost">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <span>Поділитися:</span>
                <a href="#">
                    <img src="images/for_repost_1.jpg" alt="link">
                </a>
                <a href="#">
                    <img src="images/for_repost_2.jpg" alt="link">
                </a>
                <a href="#">
                    <img src="images/for_repost_3.jpg" alt="link">
                </a>
                <a href="#">
                    <img src="images/for_repost_4.jpg" alt="link">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
