{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div>

        {% trans_field self 'body' %}
{#        {% for item in self.items.all %}#}
{##}
{#            <h4 style="color: #0098cf">{% trans_field item 'title' %}:</h4>#}
{#            <p>{{ item.info | linebreaksbr }}</p>#}
{#            <p>{% trans_field item 'info' | linebreaksbr %}</p>#}
{#            <br/>#}
{##}
{#        {% endfor %}#}
    </div>
    <br/>
    <br/>

{% endblock %}
