{% load wagtailimages_tags %}
{% load static %}
{% load core_tags %}
{% load i18n %}


{% if documents.count > 0 %}

    <div class="for_block_documents">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="for_block_title">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "documents" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in for_block_title_bot_back"></div>
                        </div>
                    </div>
                    <div class="for_block_doc_cont">

                        {% for doc in documents %}

                            <div class="for_block_doc_item">
                                <div class="for_block_doc_img">
                                    <a href="#">
                                        <img src="{% static doc.doc.doc.preview %}" alt="image">
                                    </a>
                                </div>
                                <div class="for_block_doc_right">
                                    <div class="for_block_doc_date">{{ doc.doc.date|date:"d.m.Y" }}</div>
                                    <div class="for_block_doc_text">
                                        {{ doc.doc.description }}
                                    </div>
                                    <div class="for_block_doc_download">
                                        <a href="{{ doc.doc.url }}">
                                            {% trans "download" %}
                                        </a>
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>

                        {% endfor %}

                        <div class="pad"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}







