{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content_title %}

    <div class="for_block_title">
        <div class="for_block_title_top">
            <a href="{{ self.url }}">
                {% trans "speakers" %}
            </a>
        </div>
        <div class="for_block_title_bot">
            <div class="for_block_title_bot_in"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="for_speakers">
                <div class="for_speakers_abc">
                    <ul>
                        {% for letter in self.all_lang_letters %}
                            <li>
                                {% if letter in self.speakers_letters %}
                                    <a href="{% pageurl self %}"> {# letter=letter #}
                                        {{ letter }}
                                    </a>
                                {% else %}
                                    <span>{{ letter }}</span>
                                {% endif %}

                            </li>
                        {% endfor %}
                        <li>
                            <a href="{% pageurl self %}">
                                {% trans "all letters" %}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="for_block_sp_cont_sp">

                    {% include "core/speakers_list.html" with speakers=speakers %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}