{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content_title %}

    <div class="for_block_title">
        <div class="for_block_title_top">
            {% trans "packages" %}
        </div>
        <div class="for_block_title_bot">
            <div class="for_block_title_bot_in"></div>
        </div>
    </div>

{% endblock %}



{% block extra_css %}
    <style>
        .for_block_pack_cont table tbody tr td,
        .for_block_pack_cont table thead tr td {
            width: {{ self.column_width_percent }}%;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container text-center">
    {% get_current_language as LANGUAGE_CODE %}

    <div class="for_block_pack">

        <div class="for_block_pack_cont">
{#                <div class="for_block_pack_cont_title">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-4"></div>#}
{#                        #}
{#                    </div>#}
{#                </div>#}
                <table>
                    <thead class="for_block_pack_cont_title">
                        <tr>
                            <td></td>
                            {% for package in self.packages.all %}
                                <td>
                                    {% trans_field package "title" %}
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% trans "participation format" %}
                            </td>
                            {% for package in self.packages.all %}
                            <td>
                                {% trans_field package "description" %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% for date_range in self.date_ranges.all %}
                        <tr>
                            <td>
                                {% trans_field date_range "title" %}
                            </td>
                            {% with forloop.counter0 as range_index %}

                                {% for package in self.packages.all %}
                                <td>
                                    UAH {% list_index package.price_list range_index %}
                                </td>
                                {% endfor %}

                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    </div>
</div>
{% endblock %}
