{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content_title %}

<div class="for_block_title">
    <div class="for_block_title_top">
        <a href="{{ self.url }}">
            СПІКЕРИ
        </a>
    </div>
    <div class="for_block_title_bot">
        <div class="for_block_title_bot_in"></div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">

    </div>
</div>

{% endblock %}