{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailimages_tags %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_prev">
                    <div class="for_block_prev_cont">
                        {% trans_field self 'description' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="for_block_program_arch">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="for_block_title for_block_title_program_arch">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "program" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in for_block_title_bot_back"></div>
                        </div>
                    </div>
                    <div class="for_block_program_cont">
                        {% include "core/hardcode_program.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_speakers_arch">
                    <div class="for_block_title">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "Speakers" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in"></div>
                        </div>
                    </div>
                    <div class="for_block_sp_cont">
                        {% include "core/speakers_list.html" with speakers=self.speakers_page.specific.speakers.all|slice:":12" %}
                    </div>
                    <div class="for_block_all">
                        <a href="{% pageurl self.speakers_page %}">
                            {% trans "all speakers" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if LANGUAGE_CODE == 'en' %}
        {% include "core/videos_list.html" with videos=self.videos_en.all %}
        {% include "core/albums_list.html" with albums=self.albums_en.all %}
        {% include "core/documents_list.html" with documents=self.documents_en.all %}
    {% elif LANGUAGE_CODE == 'ru' %}
        {% include "core/videos_list.html" with videos=self.videos_ru.all %}
        {% include "core/albums_list.html" with albums=self.albums_ru.all %}
        {% include "core/documents_list.html" with documents=self.documents_ru.all %}
    {% else %}
        {% include "core/videos_list.html" with videos=self.videos.all %}
        {% include "core/albums_list.html" with albums=self.albums.all %}
        {% include "core/documents_list.html" with documents=self.documents.all %}
    {% endif %}


{% endblock %}
