{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content_title %}

    <div class="for_block_title">
        <div class="for_block_title_top">
            <a href="{{ self.url }}">
                ПАКЕТИ УЧАСНИКІВ
            </a>
        </div>
        <div class="for_block_title_bot">
            <div class="for_block_title_bot_in"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

    {% get_current_language as LANGUAGE_CODE %}

    <div class="for_block_pack">

        {% if LANGUAGE_CODE == 'uk' %}
            <div class="for_block_pack_cont">
                <div class="for_block_pack_cont_title">
                    <div class="row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            Пакет “Бізнес”
                        </div>
                        <div class="col-xs-4">
                            Пакет “Платинум”
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <td>
                            Формат участi
                        </td>
                        <td>
                            Участь у діловій програмі<br>
                            Форуму та бiзнес-ланч
                        </td>
                        <td>
                            Участь у діловій програмі Форуму,<br>
                            вечірній банкет-прийом та неформальне<br>
                            спілкування з визначними спікерами,<br>
                            бізнесменами, експертами ринку
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вартість квитка в період<br/>
                            з 15 березня по 31 травня 2015 року
                        </td>
                        <td>
                            UAH 2000
                        </td>
                        <td>
                            UAH 8000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вартість квитка в період<br/>
                            з 1 травня по 31 серпня
                        </td>
                        <td>
                            UAH 2500
                        </td>
                        <td>
                            UAH 10000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вартість квитка в період<br>
                            з 1 вересня по 7 жовтня
                        </td>
                        <td>
                            UAH 3000
                        </td>
                        <td>
                            UAH 12000
                        </td>
                    </tr>
                </table>

            </div>
        {% endif %}

        {% language "uk" %}
        {% endlanguage %}

        {% if LANGUAGE_CODE == 'ru' %}
            <div class="for_block_pack_cont">
                <div class="for_block_pack_cont_title">
                    <div class="row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            Пакет “Бізнес”
                        </div>
                        <div class="col-xs-4">
                            Пакет “Платинум”
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <td>
                            Формат участi
                        </td>
                        <td>
                            Участь у діловій програмі<br>
                            Форуму та бiзнес-ланч
                        </td>
                        <td>
                            Участь у діловій програмі Форуму,<br>
                            вечірній банкет-прийом та неформальне<br>
                            спілкування з визначними спікерами,<br>
                            бізнесменами, експертами ринку
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вартість квитка в період<br/>
                            з 15 березня по 31 травня 2015 року
                        </td>
                        <td>
                            UAH 2000
                        </td>
                        <td>
                            UAH 8000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вартість квитка в період<br/>
                            з 1 травня по 31 серпня
                        </td>
                        <td>
                            UAH 2500
                        </td>
                        <td>
                            UAH 10000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вартість квитка в період<br>
                            з 1 вересня по 7 жовтня
                        </td>
                        <td>
                            UAH 3000
                        </td>
                        <td>
                            UAH 12000
                        </td>
                    </tr>
                </table>

            </div>
        {% endif %}

        {% language "ru" %}
        {% endlanguage %}

        {% if LANGUAGE_CODE == 'en' %}
            <div class="for_block_pack_cont">
                <div class="for_block_pack_cont_title">
                    <div class="row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            Пакет “Бізнес”
                        </div>
                        <div class="col-xs-4">
                            Пакет “Платинум”
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <td>
                            Формат участi
                        </td>
                        <td>
                            Участь у діловій програмі<br>
                            Форуму та бiзнес-ланч
                        </td>
                        <td>
                            Участь у діловій програмі Форуму,<br>
                            вечірній банкет-прийом та неформальне<br>
                            спілкування з визначними спікерами,<br>
                            бізнесменами, експертами ринку
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вартість квитка в період<br/>
                            з 15 березня по 31 травня 2015 року
                        </td>
                        <td>
                            UAH 2000
                        </td>
                        <td>
                            UAH 8000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вартість квитка в період<br/>
                            з 1 травня по 31 серпня
                        </td>
                        <td>
                            UAH 2500
                        </td>
                        <td>
                            UAH 10000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вартість квитка в період<br>
                            з 1 вересня по 7 жовтня
                        </td>
                        <td>
                            UAH 3000
                        </td>
                        <td>
                            UAH 12000
                        </td>
                    </tr>
                </table>

            </div>
        {% endif %}

        {% language "en" %}
        {% endlanguage %}


    </div>
{% endblock %}
