{% extends "base.html" %}

{% load core_tags %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_panel">
                    <div class="for_block_pan_cont">
                        <div class="for_block_pan_left">
                            <div class="for_block_pan_time">
                                {{ self.section.start_time|time:"H:i"  }} - {{ self.section.end_time|time:"H:i"  }}
                            </div>
                            <div>
                                {% trans_field self 'location' %}
                            </div>
                        </div>
                        <div class="for_block_pan_right">
                            <p>
                                {% trans_field self 'body' %}
                            </p>
                        </div>
                        <div class="pad"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="for_pan_speakers">
        <div class="container">

            <div class="row">

                {% for speaker in self.speakers.all %}

                    {% if forloop.counter0|divisibleby:"2" and forloop.counter0 > 0 %}
                        </div><div class="row">
                    {% endif %}

                    <div class="col-xs-6">
                        <div class="for_pan_speaker">
                            <a href="#">
                                <span class="for_pan_speaker_photo">
                                    {% image speaker.speaker_page.photo height-100 %}
{#                                    <img src="images/for_pan_speaker_1.jpg" alt="photo">#}
                                </span>
                                <span class="for_pan_speaker_right">
                                    <span class="for_pan_sp_name">
                                        {% trans_field speaker.speaker_page 'title' %}
                                    </span>
                                    <span class="for_pan_sp_text">
                                        {% trans_field speaker.speaker_page 'position' %}
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>


        </div>
    </div>


    {% if self.videos_list %}

        <div class="container">

            <div class="row">

                    <div class="col-xs-12">
                        <div class="for_pan_video">
                            <div class="for_pan_video_title">
                                {% trans "videos" %}:
                            </div>
                            <div class="for_block_video_cont">

                                <div class="row">

                                    {% for material in self.videos_list %}

                                        {% if forloop.counter0|divisibleby:"2" and forloop.counter0 > 0 %}
                                            </div><div class="row">
                                        {% endif %}


                                        <div class="col-xs-3">
                                            <div class="for_block_video_item">
                                                <div class="for_block_video_view">
                                                    <a class="fancybox-media" href="{{ material.video.link }}">
                                                        <img src="{% static 'images/for_play.png' %}" class="for_play"
                                                             alt="image">
                                                        <span class="for_video_shadow"></span>
                                                        {% image material.video.preview fill-569x314-c100 %}
                                                    </a>
                                                </div>
                                                <div class="for_block_video_date">
                                                    {{ material.video.date|date:"d.m.Y" }}
                                                </div>
                                                <div class="for_block_video_text">
                                                    {{ material.video.title }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                    </div>

            </div>
        </div>

    {% endif %}




    {% if self.documents_list %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="for_block_title">
                        <div class="for_block_title_top">
                            {% trans "documents" %}
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in"></div>
                        </div>
                    </div>
                    <div class="for_block_doc_cont for_block_doc_cont_mat">
                        {% for material in self.documents_list %}

                            {% if forloop.counter0|divisibleby:"4" and forloop.counter0 > 0 %}
                                </div>
                                <div class="row">
                            {% endif %}

                            <div class="for_block_doc_item">
                                <div class="for_block_doc_img">
                                    <a href="{{ material.doc.doc.url }}">
                                        {% image material.doc.preview fill-98x146 %}
                                    </a>
                                </div>
                                <div class="for_block_doc_right">
                                    <div class="for_block_doc_date">
                                        {{ material.doc.date|date:"d.m.Y" }}
                                    </div>
                                    <div class="for_block_doc_text">
                                        {{ material.doc.title }}
                                    </div>
                                    <div class="for_block_doc_download">
                                        <a href="{{ material.doc.doc.url }}">
                                            {% trans "download" %} {{ material.doc.extension }}
                                        </a>
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>

                        {% endfor %}

                        <div class="pad"></div>
                        </div>
                </div>
            </div>
        </div>


    {% endif %}


    {% if self.albums_list%}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="for_block_photo_cont">
                        {% include "core/albums_list.html" with albums=self.albums_list %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
