{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailimages_tags %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_prev">
                    <div class="for_block_prev_cont">
                        <p>
                            2 жовтня 2014 року у Києві відбувся Київський Міжнародний Економічний форум,<br>
                            ключовою темою якого стало обговорення необхідних економічних реформ в Україні та<br>
                            шляхів їх реалізації.
                        </p>
                        <br>

                        <p>
                            Захід зібрав понад 700 учасників, серед яких були присутні представники ділових,<br>
                            експертних і громадських кіл, а також ряд українських та іноземних ЗМI
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="for_block_program_arch">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="for_block_title for_block_title_program_arch">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "program" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in for_block_title_bot_back"></div>
                        </div>
                    </div>
                    <div class="for_block_program_cont">
                        <div class="for_block_program_item">
                            <div class="for_block_program_time">
                                09:30 - 10:15
                            </div>
                            <div class="for_block_program_event">
                                <div class="for_block_program_event_title">
                                    Пленарне засідання
                                </div>
                                <div class="for_block_program_event_link">
                                    <a href="#">
                                        “Україна сьогодні: відвертий професійний погляд”
                                    </a>
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                        <div class="for_block_program_item">
                            <div class="for_block_program_time">
                                10:30 - 12:00
                            </div>
                            <div class="for_block_program_event">
                                <div class="for_block_program_event_title">
                                    Панельні дискусії
                                </div>
                                <div class="for_block_program_event_link">
                                    <a href="#">
                                        Високі технології: Україна в хай-тек перегонах
                                    </a>
                                </div>
                                <div class="for_block_program_event_link">
                                    <a href="#">
                                        Фінансування проектів розвитку
                                    </a>
                                </div>
                                <div class="for_block_program_event_link">
                                    <a href="#">
                                        Освітня революція для бізнесу
                                    </a>
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                        <div class="for_block_program_item">
                            <div class="for_block_program_time">
                                12:30 - 14:00
                            </div>
                            <div class="for_block_program_event">
                                <div class="for_block_program_event_title">
                                    Панельні дискусії
                                </div>
                                <div class="for_block_program_event_link">
                                    <a href="#">
                                        Точки зростання – виграшна стратегія у глобальній конкуренції
                                    </a>
                                </div>
                                <div class="for_block_program_event_link">
                                    <a href="#">
                                        Сільське господарство: добувна чи переробна галузь?
                                    </a>
                                </div>
                                <div class="for_block_program_event_link">
                                    <a href="#">
                                        Модель енергетичної незалежностi
                                    </a>
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                        <div class="for_block_program_item">
                            <div class="for_block_program_time">
                                15:30 - 17:00
                            </div>
                            <div class="for_block_program_event">
                                <div class="for_block_program_event_title">
                                    Пленарне засідання
                                </div>
                                <div class="for_block_program_event_link">
                                    <a href="#">
                                        “Партнерство бізнесу та влади. Перезавантаження”
                                    </a>
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                        <div class="for_block_program_item">
                            <div class="for_block_program_time">
                                19:30 - 21:00
                            </div>
                            <div class="for_block_program_event">
                                <div class="for_block_program_event_title">
                                    Прийом (коктейль) від імені організаторів
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_speakers_arch">
                    <div class="for_block_title">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "Speakers" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in"></div>
                        </div>
                    </div>
                    <div class="for_block_sp_cont">
                        {% include "core/speakers_list.html" with speakers=self.speakers_page.specific.speakers.all|slice:":12" %}
                    </div>
                    <div class="for_block_all">
                        <a href="{% pageurl self.speakers_page %}">
                            {% trans "all speakers" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="for_block_video_arch">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="for_block_title for_block_title_video">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "Video" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in for_block_title_bot_back"></div>
                        </div>
                    </div>
                    <div class="for_block_video_cont for_block_video_cont_arch">
                        {% include "core/videos_list.html" with videos=self.videos.all %}
                    </div>
                    <div class="for_block_all">
                        <a href="#">
                            {% trans "all videos" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_photo">
                    <div class="for_block_title for_block_photo_title">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "albums" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in"></div>
                        </div>
                    </div>
                    <div class="for_block_photo_cont">
                        {% include "core/albums_list.html" with albums=self.albums.all %}
                    </div>
                    <div class="for_block_all">
                        <a href="#">
                            {% trans "all photos" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="for_block_documents">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="for_block_title">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "documents" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in for_block_title_bot_back"></div>
                        </div>
                    </div>
                    <div class="for_block_doc_cont">
                        <div class="for_block_doc_item">
                            <div class="for_block_doc_img">
                                <a href="#">
                                    <img src="/static/images/for_doc_1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="for_block_doc_right">
                                <div class="for_block_doc_date">20.12.2013</div>
                                <div class="for_block_doc_text">
                                    Дискусія "Як зробити хай-тек<br>
                                    локомотивом української<br>
                                    економіки"
                                </div>
                                <div class="for_block_doc_download">
                                    <a href="#">
                                        {% trans "download" %}
                                    </a>
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                        <div class="for_block_doc_item">
                            <div class="for_block_doc_img">
                                <a href="#">
                                    <img src="/static/images/for_doc_2.jpg" alt="image">
                                </a>
                            </div>
                            <div class="for_block_doc_right">
                                <div class="for_block_doc_date">20.12.2013</div>
                                <div class="for_block_doc_text">
                                    Дискусія "Як зробити хай-тек<br>
                                    локомотивом української<br>
                                    економіки"
                                </div>
                                <div class="for_block_doc_download">
                                    <a href="#">
                                        {% trans "download" %}
                                    </a>
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                        <div class="pad"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
