{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content_title %}

    <div class="for_block_title">
        <div class="for_block_title_top">
            <a href="{{ self.url }}">
                СПІКЕРИ
            </a>
        </div>
        <div class="for_block_title_bot">
            <div class="for_block_title_bot_in"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="for_speakers">
                <div class="for_speakers_abc">
                    <ul>
                        {% for letter in self.speakers_letters %}
                            <li>
                                <a href="{% routablepageurl self "speakers" letter=letter %}">
                                    {{ letter }}
                                </a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="{% routablepageurl self "speakers" %}">
                                Всі
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="for_block_sp_cont_sp">

                    <div class="row">

                        {% for speaker in speakers %}

                            {% if forloop.counter0|divisibleby:"4" and forloop.counter0 > 0 %}
                                </div>
                                <div class="row">
                            {% endif %}

                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="{% pageurl speaker.speaker_page %}">
                                        <span class="for_block_sp_photo">
                                            {% image speaker.speaker_page.photo height-300 as photo %}
                                            <img src="{{ photo.url }}" width="270" height="300" alt="{{ photo.alt }}"
                                                 class="grayscale grayscale-fade" />
                                        </span>
                                        <span class="for_block_sp_name">
                                            {% trans_field speaker.speaker_page 'title' %}
                                        </span>
                                        <span class="for_block_sp_about">
                                            {% trans_field speaker.speaker_page 'position' %}
                                        </span>
                                    </a>
                                </div>
                            </div>

                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}