{% extends "base.html" %}

{% load static core_tags %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content_title %}

    {% get_current_language as LANGUAGE_CODE %}

    <div class="for_block_title">
        <div class="for_block_title_top">

            {% if LANGUAGE_CODE == 'uk' %}
                <a href="{{ self.url }}">ПРОГРАМА</a>
            {% endif %}

            {% if LANGUAGE_CODE == 'ru' %}
                <a href="{{ self.url }}">ПРОГРАМА</a>
            {% endif %}

            {% if LANGUAGE_CODE == 'en' %}
                <a href="{{ self.url }}">Program</a>
            {% endif %}

        </div>
        <div class="for_block_title_bot">
            <div class="for_block_title_bot_in"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="container">
    {% get_current_language as LANGUAGE_CODE %}

    <div class="row">
        <div class="col-xs-12">
            {% include "core/hardcode_time_table.html" %}
            {#            <div class="for_block_prog">#}
            {##}
            {#                {% get_current_language as LANGUAGE_CODE %}#}
            {##}
            {#                {% if LANGUAGE_CODE == 'uk' %}#}
            {#                    <div class="for_block_prog_cont">#}
            {#                        <table>#}
            {#                            <tbody>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {##}
            {#                                        <img src="{% static 'images/for_time.png' %}" alt="image">#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        <img src="{% static 'images/for_location.png' %}" alt="image">#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        <img src="{% static 'images/for_message.png' %}" alt="image">#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        08:30 - 09:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Реєстрація#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_1" style="height: 108px">#}
            {#                                                <span>#}
            {#                                                    Пленарне засідання#}
            {#                                                </span>#}
            {#                                        09:30 - 10:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_1">#}
            {#                                                <span>#}
            {#                                                    зал Даллас#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_1">#}
            {#                                        <ul>#}
            {#                                            <li class="for_table_title">#}
            {#                                                “Україна сьогодні: відвертий професійний погляд”#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Відео-інтро “Українська економіка без купюр”#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Результати дослідження “Бар’єри та шляхи розвитку інноваційного#}
            {#                                                    бізнесу”#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Слово Міністра фінансів та Міністра економіки України#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        10:30 - 11:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Кава-брейк#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_2_one" style="height: 81px">#}
            {#                                                <span>#}
            {#                                                    Панельні дискусії#}
            {#                                                </span>#}
            {#                                        09:30 - 10:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_2">#}
            {#                                                <span>#}
            {#                                                    зал Даллас 1#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Стамбул#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Даллас 2#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_2">#}
            {#                                        <ul>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Високі технології: Україна в хай-тек перегонах#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Фінансування проектів розвитку#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Освітня революція для бізнесу#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        13:30 - 13:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Кава-брейк#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_3_one" style="height: 81px">#}
            {#                                                <span>#}
            {#                                                    Панельні дискусії#}
            {#                                                </span>#}
            {#                                        13:00 - 14:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_3">#}
            {#                                                <span>#}
            {#                                                    зал Даллас 1#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Стамбул#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Даллас 2#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_3">#}
            {#                                        <ul>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Точки зростання – виграшна стратегія у глобальній конкуренції#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Сільське господарство: добувна чи переробна галузь?#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Машинобудування – тягар чи крила?#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        14:30 - 16:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Бізнес-ланч#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_4_one" style="height: 54px">#}
            {#                                                <span>#}
            {#                                                    Панельні дискусії#}
            {#                                                </span>#}
            {#                                        16:00 - 17:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_4">#}
            {#                                                <span>#}
            {#                                                    зал Даллас 1#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Даллас 2#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_4">#}
            {#                                        <ul>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Партнерство бізнесу та влади. Перезавантаження#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Роль лідерів у розбудові України#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        19:30 - 21:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                                <span>#}
            {#                                                    зал Даллас#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Банкет-прийом від імені організаторів*#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            </tbody>#}
            {#                        </table>#}
            {#                        <div class="for_block_prog_bot">#}
            {#                            * Тільки для учасників, якi придбали пакет “Платинум”<br>#}
            {#                            В програмі можливі зміни#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endif %}#}
            {##}
            {#                {% if LANGUAGE_CODE == 'ru' %}#}
            {#                    <div class="for_block_prog_cont">#}
            {#                        <table>#}
            {#                            <tbody>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {##}
            {#                                        <img src="{% static 'images/for_time.png' %}" alt="image">#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        <img src="{% static 'images/for_location.png' %}" alt="image">#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        <img src="{% static 'images/for_message.png' %}" alt="image">#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        08:30 - 09:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Реєстрація#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_1" style="height: 108px">#}
            {#                                                <span>#}
            {#                                                    Пленарне засідання#}
            {#                                                </span>#}
            {#                                        09:30 - 10:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_1">#}
            {#                                                <span>#}
            {#                                                    зал Даллас#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_1">#}
            {#                                        <ul>#}
            {#                                            <li class="for_table_title">#}
            {#                                                “Україна сьогодні: відвертий професійний погляд”#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Відео-інтро “Українська економіка без купюр”#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Результати дослідження “Бар’єри та шляхи розвитку інноваційного#}
            {#                                                    бізнесу”#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Слово Міністра фінансів та Міністра економіки України#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        10:30 - 11:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Кава-брейк#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_2_one" style="height: 81px">#}
            {#                                                <span>#}
            {#                                                    Панельні дискусії#}
            {#                                                </span>#}
            {#                                        09:30 - 10:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_2">#}
            {#                                                <span>#}
            {#                                                    зал Даллас 1#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Стамбул#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Даллас 2#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_2">#}
            {#                                        <ul>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Високі технології: Україна в хай-тек перегонах#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Фінансування проектів розвитку#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Освітня революція для бізнесу#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        13:30 - 13:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Кава-брейк#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_3_one" style="height: 81px">#}
            {#                                                <span>#}
            {#                                                    Панельні дискусії#}
            {#                                                </span>#}
            {#                                        13:00 - 14:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_3">#}
            {#                                                <span>#}
            {#                                                    зал Даллас 1#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Стамбул#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Даллас 2#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_3">#}
            {#                                        <ul>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Точки зростання – виграшна стратегія у глобальній конкуренції#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Сільське господарство: добувна чи переробна галузь?#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Машинобудування – тягар чи крила?#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        14:30 - 16:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Бізнес-ланч#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_4_one" style="height: 54px">#}
            {#                                                <span>#}
            {#                                                    Панельні дискусії#}
            {#                                                </span>#}
            {#                                        16:00 - 17:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_4">#}
            {#                                                <span>#}
            {#                                                    зал Даллас 1#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Даллас 2#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_4">#}
            {#                                        <ul>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Партнерство бізнесу та влади. Перезавантаження#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Роль лідерів у розбудові України#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        19:30 - 21:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                                <span>#}
            {#                                                    зал Даллас#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Банкет-прийом від імені організаторів*#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            </tbody>#}
            {#                        </table>#}
            {#                        <div class="for_block_prog_bot">#}
            {#                            * Тільки для учасників, якi придбали пакет “Платинум”<br>#}
            {#                            В програмі можливі зміни#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endif %}#}
            {##}
            {#                {% if LANGUAGE_CODE == 'en' %}#}
            {#                    <div class="for_block_prog_cont">#}
            {#                        <table>#}
            {#                            <tbody>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {##}
            {#                                        <img src="{% static 'images/for_time.png' %}" alt="image">#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        <img src="{% static 'images/for_location.png' %}" alt="image">#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        <img src="{% static 'images/for_message.png' %}" alt="image">#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        08:30 - 09:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Реєстрація#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_1" style="height: 108px">#}
            {#                                                <span>#}
            {#                                                    Пленарне засідання#}
            {#                                                </span>#}
            {#                                        09:30 - 10:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_1">#}
            {#                                                <span>#}
            {#                                                    зал Даллас#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_1">#}
            {#                                        <ul>#}
            {#                                            <li class="for_table_title">#}
            {#                                                “Україна сьогодні: відвертий професійний погляд”#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Відео-інтро “Українська економіка без купюр”#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Результати дослідження “Бар’єри та шляхи розвитку інноваційного#}
            {#                                                    бізнесу”#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Слово Міністра фінансів та Міністра економіки України#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        10:30 - 11:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Кава-брейк#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_2_one" style="height: 81px">#}
            {#                                                <span>#}
            {#                                                    Панельні дискусії#}
            {#                                                </span>#}
            {#                                        09:30 - 10:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_2">#}
            {#                                                <span>#}
            {#                                                    зал Даллас 1#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Стамбул#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Даллас 2#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_2">#}
            {#                                        <ul>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Високі технології: Україна в хай-тек перегонах#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Фінансування проектів розвитку#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Освітня революція для бізнесу#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        13:30 - 13:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Кава-брейк#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_3_one" style="height: 81px">#}
            {#                                                <span>#}
            {#                                                    Панельні дискусії#}
            {#                                                </span>#}
            {#                                        13:00 - 14:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_3">#}
            {#                                                <span>#}
            {#                                                    зал Даллас 1#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Стамбул#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Даллас 2#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_3">#}
            {#                                        <ul>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Точки зростання – виграшна стратегія у глобальній конкуренції#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Сільське господарство: добувна чи переробна галузь?#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Машинобудування – тягар чи крила?#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        14:30 - 16:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Бізнес-ланч#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_4_one" style="height: 54px">#}
            {#                                                <span>#}
            {#                                                    Панельні дискусії#}
            {#                                                </span>#}
            {#                                        16:00 - 17:30#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_hover_4">#}
            {#                                                <span>#}
            {#                                                    зал Даллас 1#}
            {#                                                </span>#}
            {#                                                <span>#}
            {#                                                    зал Даллас 2#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div class="for_ul_4">#}
            {#                                        <ul>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Партнерство бізнесу та влади. Перезавантаження#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                            <li>#}
            {#                                                <a href="#">#}
            {#                                                    Роль лідерів у розбудові України#}
            {#                                                </a>#}
            {#                                            </li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            <tr>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        19:30 - 21:00#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                                <span>#}
            {#                                                    зал Даллас#}
            {#                                                </span>#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                                <td>#}
            {#                                    <div>#}
            {#                                        Банкет-прийом від імені організаторів*#}
            {#                                    </div>#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                            </tbody>#}
            {#                        </table>#}
            {#                        <div class="for_block_prog_bot">#}
            {#                            * Тільки для учасників, якi придбали пакет “Платинум”<br>#}
            {#                            В програмі можливі зміни#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endif %}>#}
            {##}
            {#            </div>#}
        </div>
    </div>
</div>

{% endblock %}
