{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_panel">
{#                    <div class="for_block_title">#}
{#                        <div class="for_block_title_top">#}
{#                            <a href="#">#}
{#                                Високі технології: Україна в хай-тек перегонах#}
{#                            </a>#}
{#                        </div>#}
{#                        <div class="for_block_title_bot">#}
{#                            <div class="for_block_title_bot_in"></div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="for_block_pan_cont">
                        <div class="for_block_pan_left">
                            <div class="for_block_pan_time">
                                {{ self.section.start_time|time:"H:i"  }} - {{ self.section.end_time|time:"H:i"  }}
                            </div>
                            <div>
                                {% trans_field self 'location' %}
                            </div>
                        </div>
                        <div class="for_block_pan_right">
                            <p>
                                {% trans_field self 'body' %}
                            </p>
                        </div>
                        <div class="pad"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
