{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailimages_tags %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_prev">
                    <div class="for_block_prev_cont">
                        {% trans_field self 'description' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="for_block_program_arch">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="for_block_title for_block_title_program_arch">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "program" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in for_block_title_bot_back"></div>
                        </div>
                    </div>
                    <div class="for_block_program_cont">
                        {% if LANGUAGE_CODE == 'uk' %}
                            <div class="for_block_program_item">
                                <div class="for_block_program_time">
                                    09:30 - 10:15
                                </div>
                                <div class="for_block_program_event">
                                    <div class="for_block_program_event_title">
                                        Пленарне засідання
                                    </div>
                                    <div class="for_block_program_event_link">
                                        “Україна сьогодні: відвертий професійний погляд”
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>
                            <div class="for_block_program_item">
                                <div class="for_block_program_time">
                                    10:30 - 12:00
                                </div>
                                <div class="for_block_program_event">
                                    <div class="for_block_program_event_title">
                                        Панельні дискусії
                                    </div>
                                    <div class="for_block_program_event_link">
                                        Високі технології: Україна в хай-тек перегонах
                                    </div>
                                    <div class="for_block_program_event_link">
                                        Фінансування проектів розвитку
                                    </div>
                                    <div class="for_block_program_event_link">
                                        Освітня революція для бізнесу
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>
                            <div class="for_block_program_item">
                                <div class="for_block_program_time">
                                    12:30 - 14:00
                                </div>
                                <div class="for_block_program_event">
                                    <div class="for_block_program_event_title">
                                        Панельні дискусії
                                    </div>
                                    <div class="for_block_program_event_link">
                                        Точки зростання – виграшна стратегія у глобальній конкуренції
                                    </div>
                                    <div class="for_block_program_event_link">
                                        Сільське господарство: добувна чи переробна галузь?
                                    </div>
                                    <div class="for_block_program_event_link">
                                        Модель енергетичної незалежностi
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>
                            <div class="for_block_program_item">
                                <div class="for_block_program_time">
                                    15:30 - 17:00
                                </div>
                                <div class="for_block_program_event">
                                    <div class="for_block_program_event_title">
                                        Пленарне засідання
                                    </div>
                                    <div class="for_block_program_event_link">
                                        “Партнерство бізнесу та влади. Перезавантаження”
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>
                            <div class="for_block_program_item">
                                <div class="for_block_program_time">
                                    19:30 - 21:00
                                </div>
                                <div class="for_block_program_event">
                                    <div class="for_block_program_event_title">
                                        Прийом (коктейль) від імені організаторів
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>
                        {% endif %}

                        {% if LANGUAGE_CODE == 'ru' %}

                        {% endif %}

                        {% if LANGUAGE_CODE == 'en' %}
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="time">08:00 - 09:15</div>
                                    </td>
                                    <td>
                                        <div class="program_item">
                                            <div class="program_name">
                                                Registration
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="time">09:15 - 10:15</div>
                                    </td>
                                    <td>
                                        <div class="program_name">Plenary meeting</div>
                                        <div class="program_item">
                                            <div class="program_title">

                                            </div>
                                        </div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • Ukraine. Starting point (video)
                                            </div>
                                        </div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • Best International Practices in Building Strong National Economy
                                            </div>
                                        </div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • Vision of Economic Development from the Presidential Administration
                                                and the Government of Ukraine
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="time">10:15 - 11:00</div>
                                    </td>
                                    <td>
                                        <div class="program_item">
                                            <div class="program_name">
                                                Coffee break
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="time">11:00 -12:30</div>
                                    </td>
                                    <td>
                                        <div class="program_name">Panel discussions</div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • High Technologies: Ukraine in the Hi-Tech Race
                                            </div>
                                            <div style="display: none;">
                                                <div id="program_67">
                                                    <p>The position of Ukraine on the world market of high technologies
                                                        is very low despite its high potential the country inherited
                                                        after the collapse of the USSR. The export is largely raw
                                                        material-related and is based on metallurgy and agriculture. At
                                                        the same time, the world market of hi-tech products three times
                                                        exceeds raw material industries.<br>
                                                        Ukraine still has all the possibilities to create the basis for
                                                        the development of high technologies in the country.<br>
                                                        Can taxation privileges offered for the IT sector help keep the
                                                        tempos of growth? When will real product companies appear in
                                                        Ukraine, and at the expense of what can it happen? How does the
                                                        creation of growth points such as technopolises and innovation
                                                        parks influence the overall condition of the hi-tech sector? How
                                                        efficient is the use of the developments of the military complex
                                                        enterprises? Can the business offer large-scale changes in the
                                                        sector and show real possibilities of development in the
                                                        conditions when the state underestimates hi-tech industry? Which
                                                        possibilities exist for the state to properly finance hi-tech
                                                        industry development?</p>

                                                    <p>&nbsp;</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • Agriculture: Mining or Processing Industry?
                                            </div>
                                            <div style="display: none;">
                                                <div id="program_71">
                                                    <p>Agriculture has a huge potential for development in Ukraine, due
                                                        to fertile Ukrainian soil from one side and increasing food
                                                        needs around the world – from another. The growth of grain
                                                        production up to 100 million tons per year for the last 7 years
                                                        is a real challenge.<br>
                                                        However, the high volume growth does not guarantee the
                                                        correlation in increase of employment and GDP growth. There is
                                                        always a risk for the industry to turn into an inefficient
                                                        sector like coal mining or metal mining.<br>
                                                        How to ensure a high level of added value? How to attract high
                                                        technologies to the sector?<br>
                                                        What reasons prevent a “growth jump” in the sector?<br>
                                                        What is the role of subsidies in increasing of industry
                                                        efficiency?<br>
                                                        What should be the role of the government in the development
                                                        sector? Should the state regulate the export and import of
                                                        agricultural seed?<br>
                                                        What is the best (recommended) size of land for efficient
                                                        agriculture farm? What should be the land market in Ukraine?<br>
                                                        How to address employment issues in the conditions of developed
                                                        agriculture?<br>
                                                        What percentage of organic farming should be in the agriculture
                                                        sector?<br>
                                                        Is there any ground for concerns regarding soil exhaustion and
                                                        environmental degradation in the light of new technologies use
                                                        in agriculture?</p>

                                                    <p>&nbsp;</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • Machine Building: A Burden or Wings?
                                            </div>
                                            <div style="display: none;">
                                                <div id="program_72">
                                                    <p>Engineering in any country is the key to the economy development.
                                                        In Ukraine, this sector is represented by the companies that
                                                        keep using technologies invented in the early 1990s. Today the
                                                        shift to the de-industrialisation in Ukrainian economy is a
                                                        reality.<br>
                                                        However, globally, engineering is one of the key points for the
                                                        development in post-industrial economy and the basis for
                                                        “knowledge economy ”<br>
                                                        Is it possible to upgrade old and outdated industrial
                                                        enterprises to make them influential players in the global
                                                        market?<br>
                                                        Automotive production in Ukraine – myth or reality?<br>
                                                        Does the Ukrainian economy need heavy machinery sector?<br>
                                                        How productive is the idea for Ukraine to become a "factory of
                                                        Europe", concentrating assembly plants with varying degrees of
                                                        localisation?<br>
                                                        How to replace the lost Russian market with other markets?<br>
                                                        What could the engineering do for the development of engineering
                                                        education and research?</p>

                                                    <p>&nbsp;</p>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="time">12:30 - 13:00</div>
                                    </td>
                                    <td>
                                        <div class="program_item">
                                            <div class="program_name">
                                                Coffee break
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="time">13:00 - 14:30</div>
                                    </td>
                                    <td>
                                        <div class="program_name">Panel discussions</div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • The Role of Leaders in the Development of Ukraine
                                            </div>
                                            <div style="display: none;">
                                                <div id="program_74">
                                                    <p>The role of leaders is critical for the progress of any
                                                        organisation. The absence of professional government managers in
                                                        Ukraine hampers economic growth and leads to disastrous
                                                        consequences.<br>
                                                        Today we need to create of new class of professional government
                                                        managers who can take responsibility for the future of Ukraine
                                                        and lead the country to the prosperity.<br>
                                                        Is it possible to completely replace all administrative staff in
                                                        the government? Is it possible to train and renew the existing
                                                        staff? What tools could be used for this?<br>
                                                        How to ensure quality selection of the new leaders for the
                                                        government management, not tainted by corruption?<br>
                                                        Can the salary for the government employees be increased?<br>
                                                        Is it possible to attract the professional managers of high
                                                        level to work for government?<br>
                                                        What institutions could be used for selection and training of
                                                        the new government workers? Do we need to launch a special
                                                        school to train future reformers?<br>
                                                        What is the role of business in creating the new managerial
                                                        elite – is it an observer or active participant?</p>

                                                    <p>&nbsp;</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • Financing of Development Projects
                                            </div>
                                            <div style="display: none;">
                                                <div id="program_68">
                                                    <p>To finance the economy growth it is crucial to provide necessary
                                                        conditions for an increase in domestic investment.<br>
                                                        Ukraine has not yet established a financial infrastructure that
                                                        would meet the needs of the economy.<br>
                                                        What urgent steps should be done to renew lending system to
                                                        medium-sized businesses?<br>
                                                        Do we need to save banking sector and how to encourage it for
                                                        reduction of interest on loans?<br>
                                                        What can the European Bank of Reconstruction and Development do
                                                        for Ukraine’s economy?<br>
                                                        Can the creation of private pension funds contribute to the
                                                        creation of long-term resources of cheap financing and how to
                                                        teach people to be investors?<br>
                                                        What are the prospects of the stock market in Ukraine?<br>
                                                        Ukraine is the only European country that did not create
                                                        export-credit agency. When the state will help Ukrainian
                                                        exporters in their expansion into foreign markets, securing
                                                        insurance risks, providing funding and government
                                                        guarantees?<br>
                                                        Is money emission a panacea or fiction? Can the state be a
                                                        catalyst for foreign and domestic private investment? Is it
                                                        possible to create an effective public financing in priority
                                                        sectors of economy? How to prevent corruption?<br>
                                                        What is the role of loans from international financial
                                                        institutions in building capacity for early stage of real
                                                        economy financing?<br>
                                                        Do you need to finance consumption growth?<br>
                                                        State leasing company and the State Mortgage Institution – do we
                                                        really need them?</p>

                                                    <p>&nbsp;</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • Educational Revolution for the Country and its Business
                                            </div>
                                            <div style="display: none;">
                                                <div id="program_69">
                                                    <p>Combining Education and Science, with further use of scientific
                                                        achievements for business do have a legislative basis. Positive
                                                        shift here is possible in case the legislative changes will be
                                                        backed up with funding and the establishment of appropriate
                                                        structures and institutions.<br>
                                                        This will result into the growth of business and GDP growth
                                                        after 3-10 years of development.<br>
                                                        How to convince the society that a change in priorities and
                                                        concentration of resources and efforts on this issue is
                                                        absolutely crucial for education?<br>
                                                        Online education – how to make it not a “fashionable trend”, but
                                                        an effective tool for preparing the population to meet
                                                        contemporary development challenges.<br>
                                                        How could Ukraine ensure the transition to the economy of
                                                        creativity, given that we still have not succeeded in the
                                                        creation of “knowledge economy”?<br>
                                                        Who will be our children? What skills do they need in the 21
                                                        century?</p>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="time">14:30 - 16:00</div>
                                    </td>
                                    <td>
                                        <div class="program_item">
                                            <div class="program_name">
                                                Business lunch
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="time">16:00 - 17:30</div>
                                    </td>
                                    <td>
                                        <div class="program_name">Panel discussions</div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • Growth Points: A Winning Strategy in the Global Competition
                                            </div>
                                            <div style="display: none;">
                                                <div id="program_70">
                                                    <p>"Points of growth" – is it a winning strategy in a global
                                                        competition or the source of corruption?<br>
                                                        For rapid economic growth the country's leadership choice varies
                                                        between two poles – the so called unregulated “open market” and
                                                        the creation of "growth points" – the industries and areas with
                                                        special conditions for business regulation.<br>
                                                        In Ukrainian realities well known global tools of local
                                                        development often became a source of corruption. That is why the
                                                        use of special tools for quick and powerful start of the economy
                                                        became a topic for political and economy discussion in society,
                                                        despite the strong support of business.<br>
                                                        Does the creation of "growth points" significantly increase the
                                                        GDP growth rate?</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="program_item">
                                            <div class="program_title">
                                                • Public Private Partnerships. Reloaded
                                            </div>
                                            <div style="display: none;">
                                                <div id="program_73">
                                                    <p>There are three models of the interaction of business and
                                                        government. The first is when the government totally manages the
                                                        economy. The second is when the government does not influence
                                                        the economy at all and acts only as a “night watchman”. The
                                                        third is when the government controls adherence to the
                                                        macroeconomic indicators, and also designs development
                                                        strategies together with business and provides for the necessary
                                                        conditions, while also acting as the promoter of business on the
                                                        international markets.<br>
                                                        Ukraine has tried the first two models that turned out to be
                                                        inefficient. Business and government have to find new rules of
                                                        interaction.<br>
                                                        What is necessary for the efficient partnership of business and
                                                        government?<br>
                                                        What is role of industrial business associations in the process
                                                        of such interaction?<br>
                                                        Can business consolidate its position in case of the creation of
                                                        a centralised association of business, something like the
                                                        Austrian Chamber of Commerce?<br>
                                                        Which state bodies can efficiently work in order to provide the
                                                        existence of market economy and yet have adequate possibilities
                                                        to monitor, forecast and plan?<br>
                                                        When will the triangle of business, government and society work
                                                        in Ukraine?<br>
                                                        Who has to play the role of business ombudsman?</p>

                                                    <p>&nbsp;</p>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="time">20:00 - 22:00</div>
                                    </td>
                                    <td>
                                        <div class="program_item">
                                            <div class="program_name">
                                                Gala Dinner sponsored by the Organizers*
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_speakers_arch">
                    <div class="for_block_title">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "Speakers" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in"></div>
                        </div>
                    </div>
                    <div class="for_block_sp_cont">
                        {% include "core/speakers_list.html" with speakers=self.speakers_page.specific.speakers.all|slice:":12" %}
                    </div>
                    <div class="for_block_all">
                        <a href="{% pageurl self.speakers_page %}">
                            {% trans "all speakers" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="for_block_video_arch">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="for_block_title for_block_title_video">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "Video" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in for_block_title_bot_back"></div>
                        </div>
                    </div>
                    <div class="for_block_video_cont for_block_video_cont_arch">
                        {% include "core/videos_list.html" with videos=self.videos.all %}
                    </div>
                    <div class="for_block_all">
                        <a href="#">
                            {% trans "all videos" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_photo">
                    <div class="for_block_title for_block_photo_title">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "albums" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in"></div>
                        </div>
                    </div>
                    <div class="for_block_photo_cont">
                        {% include "core/albums_list.html" with albums=self.albums.all %}
                    </div>
                    <div class="for_block_all">
                        <a href="#">
                            {% trans "all photos" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="for_block_documents">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="for_block_title">
                        <div class="for_block_title_top">
                            <a href="#">
                                {% trans "documents" %}
                            </a>
                        </div>
                        <div class="for_block_title_bot">
                            <div class="for_block_title_bot_in for_block_title_bot_back"></div>
                        </div>
                    </div>
                    <div class="for_block_doc_cont">
                        <div class="for_block_doc_item">
                            <div class="for_block_doc_img">
                                <a href="#">
                                    <img src="/static/images/for_doc_1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="for_block_doc_right">
                                <div class="for_block_doc_date">20.12.2013</div>
                                <div class="for_block_doc_text">
                                    Дискусія "Як зробити хай-тек<br>
                                    локомотивом української<br>
                                    економіки"
                                </div>
                                <div class="for_block_doc_download">
                                    <a href="#">
                                        {% trans "download" %}
                                    </a>
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                        <div class="for_block_doc_item">
                            <div class="for_block_doc_img">
                                <a href="#">
                                    <img src="/static/images/for_doc_2.jpg" alt="image">
                                </a>
                            </div>
                            <div class="for_block_doc_right">
                                <div class="for_block_doc_date">20.12.2013</div>
                                <div class="for_block_doc_text">
                                    Дискусія "Як зробити хай-тек<br>
                                    локомотивом української<br>
                                    економіки"
                                </div>
                                <div class="for_block_doc_download">
                                    <a href="#">
                                        {% trans "download" %}
                                    </a>
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                        <div class="pad"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
