{% load wagtailcore_tags %}
{% load core_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<div class="for_block_prog">

    {% get_current_language as LANGUAGE_CODE %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="for_block_prog_cont">
                {% if LANGUAGE_CODE == 'uk' %}
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <div>
                                    <img src="{% static 'images/for_time.png' %}" alt="image">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <img src="{% static 'images/for_message.png' %}" alt="image">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    08:00 - 09:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Бізнес-сніданок із спікерами КМЕФ 2015*
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    08:00 - 09:15
                                </div>
                            </td>
                            <td>
                                <div>
                                    Реєстрація
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_1" style="height: 108px">
                                                <span>
                                                    Пленарне засідання
                                                </span>
                                    09:15 - 10:15
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_1">
                                    <ul>
                                        <li class="for_table_title">“Україна сьогодні: відвертий професійний погляд”
                                        </li>
                                        <li>
                                            <a href="#">Відео-інтро “Україна. Точка відліку”</a>
                                        </li>
                                        <li>
                                            <a href="#">Провідний світовий досвід розбудови потужної економіки
                                                країни</a>
                                        </li>
                                        <li>
                                            <a href="#">Бачення економічного розвитку від Адміністрації Президента</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    10:15 - 11:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Кава-брейк
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_2_one" style="height: 81px">
                                                <span>
                                                    Панельні дискусії
                                                </span>
                                    11:00 - 12:30
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_2">
                                    <ul>
                                        <li>
                                            <a href="#">Високі технології: Україна в хай-тек перегонах</a>
                                        </li>
                                        <li>
                                            <a href="#">Освіта. Плекання талантів для успіху</a>
                                        </li>
                                        <li>
                                            <a href="#">Успіх та помилки МВФ</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    12:30 - 13:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Кава-брейк
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_3_one" style="height: 81px">
                                                <span>
                                                    Панельні дискусії
                                                </span>
                                    13:00 - 14:30
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_3">
                                    <ul>
                                        <li>
                                            <a href="#">Стратегії розвитку у сільському господарстві</a>
                                        </li>
                                        <li>
                                            <a href="#">Фінансування проектів розвитку</a>
                                        </li>
                                        <li>
                                            <a href="#">Промислова політика. Цілі, інструменти, бар’єри</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    14:30 - 16:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Бізнес-ланч
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_4_one" style="height: 54px">
                                                <span>
                                                    Панельні дискусії
                                                </span>
                                    16:00 - 17:30
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_4">
                                    <ul>
                                        <li>
                                            <a href="#">Енергетична незалежність України</a>
                                        </li>
                                        <li>
                                            <a href="#">«Точки зростання» - виграшна стратегія в умовах глобальної
                                                конкуренції</a>
                                        </li>
                                        <li>
                                            <a href="#">Партнерство бізнесу та влади</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    18:00 - 20:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Фуршет
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    19:00 - 22:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Банкет-прийом від імені організаторів**
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="for_block_prog_bot">
                        *За окремим запрошенням<br/>
                        **Для власників пакету «Платинум»<br/>
                        В програмі можливі зміни
                    </div>
                {% endif %}

                {% if LANGUAGE_CODE == 'ru' %}
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <div>

                                    <img src="{% static 'images/for_time.png' %}" alt="image">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <img src="{% static 'images/for_message.png' %}" alt="image">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    08:00 - 09:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Бізнес-сніданок із спікерами КМЕФ 2015*
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    08:00 - 09:15
                                </div>
                            </td>
                            <td>
                                <div>
                                    Реєстрація
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_1" style="height: 108px">
                                                <span>
                                                    Пленарне засідання
                                                </span>
                                    09:15 - 10:15
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_1">
                                    <ul>
                                        <li class="for_table_title">“Україна сьогодні: відвертий професійний погляд”
                                        </li>
                                        <li>
                                            <a href="#">Відео-інтро “Україна. Точка відліку”</a>
                                        </li>
                                        <li>
                                            <a href="#">Провідний світовий досвід розбудови потужної економіки
                                                країни</a>
                                        </li>
                                        <li>
                                            <a href="#">Бачення економічного розвитку від Адміністрації Президента</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    10:15 - 11:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Кава-брейк
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_2_one" style="height: 81px">
                                                <span>
                                                    Панельні дискусії
                                                </span>
                                    11:00 - 12:30
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_2">
                                    <ul>
                                        <li>
                                            <a href="#">Високі технології: Україна в хай-тек перегонах</a>
                                        </li>
                                        <li>
                                            <a href="#">Освіта. Плекання талантів для успіху</a>
                                        </li>
                                        <li>
                                            <a href="#">Успіх та помилки МВФ</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    12:30 - 13:00
                                </div>
                            <td>
                                <div>
                                    Кава-брейк
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_3_one" style="height: 81px">
                                                <span>
                                                    Панельні дискусії
                                                </span>
                                    13:00 - 14:30
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_3">
                                    <ul>
                                        <li>
                                            <a href="#">Стратегії розвитку у сільському господарстві</a>
                                        </li>
                                        <li>
                                            <a href="#">Фінансування проектів розвитку</a>
                                        </li>
                                        <li>
                                            <a href="#">Промислова політика. Цілі, інструменти, бар’єри</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    14:30 - 16:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Бізнес-ланч
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_4_one" style="height: 54px">
                                    <span>
                                        Панельні дискусії
                                    </span>
                                    16:00 - 17:30
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_4">
                                    <ul>
                                        <li>
                                            <a href="#">Енергетична незалежність України</a>
                                        </li>
                                        <li>
                                            <a href="#">«Точки зростання» - виграшна стратегія в умовах глобальної
                                                конкуренції</a>
                                        </li>
                                        <li>
                                            <a href="#">Партнерство бізнесу та влади</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    18:00 - 20:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Фуршет
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    19:00 - 22:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Банкет-прийом від імені організаторів**
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="for_block_prog_bot">
                        *За окремим запрошенням<br/>
                        **Для власників пакету «Платинум»<br/>
                        В програмі можливі зміни
                    </div>
                {% endif %}

                {% if LANGUAGE_CODE == 'en' %}
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <div>

                                    <img src="{% static 'images/for_time.png' %}" alt="image">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <img src="{% static 'images/for_message.png' %}" alt="image">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    08:00 - 09:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Participation in Business Breakfast with KIEF 2015 speakers*
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    08:00 - 09:15
                                </div>
                            </td>
                            <td>
                                <div>
                                    Registration
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_1" style="height: 108px">
                                                <span>
                                                    Plenary meeting
                                                </span>
                                    09:15 - 10:15
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_1">
                                    <ul>
                                        <li class="for_table_title">Ukraine. Starting point (video)</li>
                                        <li>
                                            <a href="#">Best International Practices in Building Strong National
                                                Economy</a>
                                        </li>
                                        <li>
                                            <a href="#">Vision of Economic Development from the Presidential
                                                Administration an the Government of Ukraine</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    10:15 - 11:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Coffee break
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_2_one" style="height: 81px">
                                                <span>
                                                    Panel discussions
                                                </span>
                                    11:00 - 12:30
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_2">
                                    <ul>
                                        <li>
                                            <a href="#">High Technologies: Ukraine in the Hi-Tech Race</a>
                                        </li>
                                        <li>
                                            <a href="#">Education. Nurturing talents for success</a>
                                        </li>
                                        <li>
                                            <a href="#">IMF Success and Failing</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    12:30 - 13:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Coffee break
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_3_one" style="height: 81px">
                                                <span>
                                                    Panel discussions
                                                </span>
                                    13:00 - 14:30
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_3">
                                    <ul>
                                        <li>
                                            <a href="#">Development Strategy in Agriculture Sector</a>
                                        </li>
                                        <li>
                                            <a href="#">Financing of Development Projects</a>
                                        </li>
                                        <li>
                                            <a href="#">Industrial policy. Goals, Instruments, Barriers</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    14:30 - 16:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Бізнес-ланч
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="for_hover_4_one" style="height: 54px">
                                                <span>
                                                    Panel discussions
                                                </span>
                                    16:00 - 17:30
                                </div>
                            </td>
                            <td>
                                <div class="for_ul_4">
                                    <ul>
                                        <li>
                                            <a href="#">Energy Independence of Ukraine</a>
                                        </li>
                                        <li>
                                            <a href="#">Growth Points: A Winning Strategy in the Global Competition</a>
                                        </li>
                                        <li>
                                            <a href="#">Public Private Partnerships</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    18:00 - 20:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Buffet
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    19:00 - 22:00
                                </div>
                            </td>
                            <td>
                                <div>
                                    Gala Dinner sponsored by the Organizers**
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="for_block_prog_bot">
                        * Special invitation needed<br/>
                        ** For owners Platinum Package only <br/>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

</div>
