{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load core_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content_title %}
    {# empty on home page #}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="for_block_news">
            <div class="for_block_title">
                <div class="for_block_title_top">
                    <a href="/news/">
                        {% trans "News" %}
                    </a>
                </div>
                <div class="for_block_title_bot">
                    <div class="for_block_title_bot_in"></div>
                </div>
            </div>
            <div class="for_block_news_cont">
                {% if self.top_news.0 %}
                    <div class="cox-xs-12">
                        <div class="for_block_news_cont_top">
                            <div class="for_block_news_left">
                                <a href="{% pageurl self.top_news.0 %}">
                                    {% image self.top_news.0.image fill-569x314-c100 %}
                                </a>
                            </div>
                            <div class="for_block_news_right">
                                <div class="for_block_news_date">
                                    {{ self.top_news.0.date|date:"d.m.Y" }}
                                </div>
                                <div class="for_block_news_title">
                                    <a href="{% pageurl self.top_news.0 %}">
                                        {{ self.top_news.0.title }}
                                    </a>
                                </div>
                                <div class="for_block_news_text">
                                    {{ self.top_news.0.short|linebreaksbr }}
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                    </div>
                {% endif %}
                <div class="for_block_news_cont_bot">
                    <div class="row">
                        {% if self.top_news.1 %}
                            <div class="col-xs-6">
                                <div class="for_block_news_small">
                                    <div class="for_block_news_small_left">
                                        <a href="{% pageurl self.top_news.1 %}">
                                            {% image self.top_news.1.image fill-270x146-c100 %}
                                        </a>
                                    </div>
                                    <div class="for_block_news_small_right">
                                        <div class="for_block_news_small_date">
                                            {{ self.top_news.1.date|date:"d.m.Y" }}
                                        </div>
                                        <div class="for_block_news_small_text">
                                            {{ self.top_news.1.title|linebreaksbr }}
                                        </div>
                                    </div>
                                    <div class="pad"></div>
                                </div>
                            </div>
                        {% endif %}
                        {% if self.top_news.2 %}
                            <div class="col-xs-6">
                                <div class="for_block_news_small">
                                    <div class="for_block_news_small_left">
                                        <a href="{% pageurl self.top_news.2 %}">
                                            {% image self.top_news.2.image fill-270x146-c100 %}
                                        </a>
                                    </div>
                                    <div class="for_block_news_small_right">
                                        <div class="for_block_news_small_date">
                                            {{ self.top_news.2.date|date:"d.m.Y" }}
                                        </div>
                                        <div class="for_block_news_small_text">
                                            {{ self.top_news.2.title|linebreaksbr }}
                                        </div>
                                    </div>
                                    <div class="pad"></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="for_block_video">
            <div class="for_block_title for_block_title_video">
                <div class="for_block_title_top">
                    <a href="#">
                        {% trans "Video" %}
                    </a>
                </div>
                <div class="for_block_title_bot">
                    <div class="for_block_title_bot_in"></div>
                </div>
            </div>
            <div class="for_block_video_cont">
                <div class="row">
                    {% for material in self.material_videos.all %}
                        <div class="col-xs-3">
                            <div class="for_block_video_item">
                                <div class="for_block_video_view">
                                    <a class="fancybox-media" href="{{ material.video.link }}">
                                        <img src="{% static 'images/for_play.png' %}" class="for_play" alt="image">
                                        <span class="for_video_shadow"></span>
                                        {% image material.video.preview fill-569x314-c100 %}
                                    </a>
                                </div>
                                <div class="for_block_video_date">
                                    {{ material.video.latest_revision_created_at|date:"d.m.Y" }}
                                </div>
                                <div class="for_block_video_text">
                                    {% trans_field material.video 'description' %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="for_block_banners">
            <div class="for_block_title">
                <div class="for_block_title_bot">
                    <div class="for_block_title_bot_in"></div>
                </div>
            </div>
            <div class="for_block_banners_cont">
                {% for advert_placement in self.advert_placements.all %}
                    <div class="col-xs-6">
                        <div class="for_block_banner_item">
                            <a href="{{ advert_placement.advert.url }}">
                                {% image advert_placement.advert.image max-570x100 %}
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    </div>

    <div class="for_about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-xs-12 col-md-6 col-md-offset-3">
                <div class="for_about_title">
                    {% trans_field self.forum_page 'title_long' %}
                </div>
            </div>
        </div>
    <div class="row">

        <div class="col-md-12">
            <div class="for_block_program">
                <div class="for_block_title for_block_title_program">
                    <div class="for_block_title_top">
                        <a href="#">
                            {% trans "Timetable" %}
                        </a>
                    </div>
                    <div class="for_block_title_bot">
                        <div class="for_block_title_bot_in for_block_title_bot_back"></div>
                    </div>
                </div>
{#                <div class="for_block_program_date">#}
{#                    2 жовтня 2015#}
{#                    <br>Україна, Київ, НСК «Олімпійський»#}
{#                </div>#}
                <div class="for_block_program_date">
                    {#                    {{ self.forum_page.date_from }}#}
                    8 Жовтня
                    <br>{% trans_field self.forum_page 'location_country' %}, {% trans_field self.forum_page 'location_city' %}, {% trans_field self.forum_page 'location_name' %}
                </div>
                <div class="for_block_program_cont">
                    <div class="for_block_program_item">
                        <div class="for_block_program_time">
                            09:30 - 10:15
                        </div>
                        <div class="for_block_program_event">
                            <div class="for_block_program_event_title">
                                Пленарне засідання
                            </div>
                            <div class="for_block_program_event_link">
                                <a href="#">
                                    “Україна сьогодні: відвертий професійний погляд”
                                </a>
                            </div>
                        </div>
                        <div class="pad"></div>
                    </div>
                    <div class="for_block_program_item">
                        <div class="for_block_program_time">
                            10:30 - 12:00
                        </div>
                        <div class="for_block_program_event">
                            <div class="for_block_program_event_title">
                                Панельні дискусії
                            </div>
                            <div class="for_block_program_event_link">
                                <a href="#">
                                    Високі технології: Україна в хай-тек перегонах
                                </a>
                            </div>
                            <div class="for_block_program_event_link">
                                <a href="#">
                                    Фінансування проектів розвитку
                                </a>
                            </div>
                            <div class="for_block_program_event_link">
                                <a href="#">
                                    Освітня революція для бізнесу
                                </a>
                            </div>
                        </div>
                        <div class="pad"></div>
                    </div>
                    <div class="for_block_program_item">
                        <div class="for_block_program_time">
                            12:30 - 14:00
                        </div>
                        <div class="for_block_program_event">
                            <div class="for_block_program_event_title">
                                Панельні дискусії
                            </div>
                            <div class="for_block_program_event_link">
                                <a href="#">
                                    Точки зростання – виграшна стратегія у глобальній конкуренції
                                </a>
                            </div>
                            <div class="for_block_program_event_link">
                                <a href="#">
                                    Сільське господарство: добувна чи переробна галузь?
                                </a>
                            </div>
                            <div class="for_block_program_event_link">
                                <a href="#">
                                    Модель енергетичної незалежностi
                                </a>
                            </div>
                        </div>
                        <div class="pad"></div>
                    </div>
                    <div class="for_block_program_item">
                        <div class="for_block_program_time">
                            15:30 - 17:00
                        </div>
                        <div class="for_block_program_event">
                            <div class="for_block_program_event_title">
                                Пленарне засідання
                            </div>
                            <div class="for_block_program_event_link">
                                <a href="#">
                                    “Партнерство бізнесу та влади. Перезавантаження”
                                </a>
                            </div>
                        </div>
                        <div class="pad"></div>
                    </div>
                    <div class="for_block_program_item">
                        <div class="for_block_program_time">
                            19:30 - 21:00
                        </div>
                        <div class="for_block_program_event">
                            <div class="for_block_program_event_title">
                                Прийом (коктейль) від імені організаторів
                            </div>
                        </div>
                        <div class="pad"></div>
                    </div>
                </div>
            </div>

            <div class="for_block_speakers_arch">
                <div class="for_block_title">
                    <div class="for_block_title_top">
                        <a href="#">
                            {% trans "Speakers" %}
                        </a>
                    </div>
                    <div class="for_block_title_bot">
                        <div class="for_block_title_bot_in"></div>
                    </div>
                </div>
                <div class="for_block_sp_cont">
                    <div class="row">

                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/viktor-galasiuk/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1405525778.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Віктор Галасюк
                                        </span>
                                        <span class="for_block_sp_about">
                                            Президент Асоціації «Інноваційний розвиток України»
                                        </span>
                                    </a>
                                </div>
                            </div>
                        

                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/andrii-kirilenko/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1412170688.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Андрій Кириленко
                                        </span>
                                        <span class="for_block_sp_about">
                                            Професор фінансової практики Міжнародної бізнес-школи при Массачусетському технологічному інституті в Кембриджі, США
                                        </span>
                                    </a>
                                </div>
                            </div>




                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/chua-teong-ban/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1405087192.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Чуа Теонг Бан
                                        </span>
                                        <span class="for_block_sp_about">
                                            Надзвичайний та уповноважений Посол Малайзії в Україні
                                        </span>
                                    </a>
                                </div>
                            </div>




                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/viktor-krivenko/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1405415028.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Віктор Кривенко
                                        </span>
                                        <span class="for_block_sp_about">
                                            Радник міністра фінансів України
                                        </span>
                                    </a>
                                </div>
                            </div>



                                </div>
                                <div class="row">


                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/oleg-boiarin/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1410203754.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Олег Боярин
                                        </span>
                                        <span class="for_block_sp_about">
                                            Голова Федерації роботодавців автомобільної галузі України, голова Президії Федерації
                                        </span>
                                    </a>
                                </div>
                            </div>




                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/viktor-ivanchik/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1412021074.focus-none.height-300.png" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Віктор Іванчик
                                        </span>
                                        <span class="for_block_sp_about">
                                            Засновник та Генеральний директор агропромхолдингу «Астарта-Київ»
                                        </span>
                                    </a>
                                </div>
                            </div>




                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/tetiana-nanaieva/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1412157063.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Тетяна Нанаєва
                                        </span>
                                        <span class="for_block_sp_about">
                                            Директор Intel з корпоративних справ та зв’язків з урядовими установами в Україні та СНД
                                        </span>
                                    </a>
                                </div>
                            </div>




                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/gerkhard-pfaifer/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1405087006.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Герхард Пфайфер
                                        </span>
                                        <span class="for_block_sp_about">
                                            Президент Bosch Group у країнах СНД
                                        </span>
                                    </a>
                                </div>
                            </div>



                                </div>
                                <div class="row">


                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/valerii-fishchuk/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1411575034.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Валерій Фіщук
                                        </span>
                                        <span class="for_block_sp_about">
                                            Регіональний менеджер із взаємодії з державним сектором представництва Cisco в Україні
                                        </span>
                                    </a>
                                </div>
                            </div>




                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/bernard-keisi/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1405263875.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Бернард Кейсі
                                        </span>
                                        <span class="for_block_sp_about">
                                            Президент Американської торгівельної палати в Україні (AmCham)
                                        </span>
                                    </a>
                                </div>
                            </div>




                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/erik-rainert/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1405087041.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Ерік Райнерт
                                        </span>
                                        <span class="for_block_sp_about">
                                            Професор стратегій розвитку у Талліннському технічному університеті
                                        </span>
                                    </a>
                                </div>
                            </div>




                            <div class="col-xs-3">
                                <div class="for_block_sp_item">
                                    <a href="/speakers/lidiia-shinkaruk/">
                                        <span class="for_block_sp_photo">

                                            <img src="/media/images/1410878363.focus-none.height-300.jpeg" width="270" height="300" alt="" class="grayscale grayscale-fade">
                                        </span>
                                        <span class="for_block_sp_name">
                                            Лідія Шинкарук
                                        </span>
                                        <span class="for_block_sp_about">
                                            Доктор економічних наук, член-кореспондент НАН України
                                        </span>
                                    </a>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
{% endblock %}
