{% load wagtailcore_tags %}
{% load i18n %}
<div class="for_lang">
    {% get_current_language as LANGUAGE_CODE %}
    <ul>
        <li {% if LANGUAGE_CODE == 'uk' %} class="active" {% endif %}>
            {% language "uk" %}
                <a href="{{ self.url }}">Укр</a>
            {% endlanguage %}
        </li>
        <li {% if LANGUAGE_CODE == 'ru' %} class="active" {% endif %}>
            {% language "ru" %}
                <a href="{{ self.url }}">Рус</a>
            {% endlanguage %}
        </li>
        <li {% if LANGUAGE_CODE == 'en' %} class="active" {% endif %}>
            {% language "en" %}
                <a href="{{ self.url }}">Eng</a>
            {% endlanguage %}
        </li>
    </ul>
</div>