{% load wagtailcore_tags %}
{% load i18n %}
<div class="for_lang">
    {% get_current_language as LANGUAGE_CODE %}
    <ul>
        <li {% if LANGUAGE_CODE == 'uk' %} class="active" {% endif %}>
            {% language "uk" %}
                {% if self.language %}
                    <a href="{{ self.get_parent.url }}">Укр</a>
                {% else %}
                    <a href="{{ self.url }}">Укр</a>
                {% endif %}
            {% endlanguage %}
        </li>

        <li {% if LANGUAGE_CODE == 'ru' %} class="active" {% endif %}>
            {% language "ru" %}
                {% if self.language %}
                    <a href="{{ self.parent.url }}">Рус</a>
                {% else %}
                    <a href="{{ self.url }}">Рус</a>
                {% endif %}
            {% endlanguage %}
        </li>

        <li {% if LANGUAGE_CODE == 'en' %} class="active" {% endif %}>
            {% language "en" %}
                {% if self.language %}
                    <a href="{{ self.get_parent.url }}">Eng</a>
                {% else %}
                    <a href="{{ self.url }}">Eng</a>
                {% endif %}
            {% endlanguage %}
        </li>
    </ul>
</div>