{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content_title %}{% endblock %}


{% block content %}

    <div class="for_block_photo_mat">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_title for_block_photo_title">
                    <div class="for_block_title_top">
                        <a href="#">
                            Фотоальбоми
                        </a>
                    </div>
                    <div class="for_block_title_bot">
                        <div class="for_block_title_bot_in for_block_title_bot_back"></div>
                    </div>
                </div>
                <div class="for_block_photo_cont">
                    <div class="row">

                        {% for album in self.albums %}

                            {% if forloop.counter0|divisibleby:"4" and forloop.counter0 > 0 %}
                                </div>
                                <div class="row">
                            {% endif %}

                            <div class="col-xs-3">
                                <div class="for_block_video_item">
                                    <div class="for_block_video_view">
                                        <a href="{{ album.link }}">
                                            <span class="for_video_shadow"></span>
                                            {% image album.preview fill-569x314-c100 %}
                                        </a>
                                    </div>
                                    <div class="for_block_video_date">
                                        {{ album.latest_revision_created_at|date:"d.m.Y" }}
                                    </div>
                                    <div class="for_block_video_text">
                                        {{ album.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
