{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="for_pathway">
                <a href="#">Головна</a> > Новини
            </div>
        </div>
        <div class="for_block_news for_block_news_news">
            <div class="for_block_title">
                <div class="for_block_title_top">
                    <a href="#">
                        Новини
                    </a>
                </div>
                <div class="for_block_title_bot">
                    <div class="for_block_title_bot_in"></div>
                </div>
            </div>
            <div class="for_block_news_cont">
                <div class="cox-xs-12">
                    <div class="for_block_news_cont_top">
                        <div class="for_block_news_left">
                            <a href="#">
                                <img src="images/for_news_photo_1.jpg" alt="image">
                            </a>
                        </div>
                        <div class="for_block_news_right">
                            <div class="for_block_news_date">
                                20.12.2013
                            </div>
                            <div class="for_block_news_title">
                                <a href="#">
                                    Освіта: від соціального баласту
                                    до локомотиву розвитку
                                    власної економіки
                                </a>
                            </div>
                            <div class="for_block_news_text">
                                Як зробити hi-tech-галузь локомотивом української<br>
                                економіки? За участю представників найбільших світових<br>
                                вендорів, R&D-компаній, венчурних фондів та парламенту<br>
                                України будуть визначені шляхи створення сприятливих умов<br>
                                для швидкого та ефективного розвитку сфери ІТ-технологій у
                                країні.
                            </div>
                        </div>
                        <div class="pad"></div>
                    </div>
                </div>
                <div class="for_block_news_cont_bot">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="for_block_news_small for_block_news_small_news">
                                <div class="for_block_news_small_left">
                                    <a href="#">
                                        <img src="images/for_news_photo_3.jpg" alt="image">
                                        <img src="images/for_news_photo_2.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="for_block_news_small_right">
                                    <div class="for_block_news_small_date">
                                        20.12.2013
                                    </div>
                                    <div class="for_block_news_small_text">
                                        Освіта: від соціального<br>
                                        баласту до локомотиву<br>
                                        баласту до локомотиву<br>
                                        розвитку власної економіки”
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="for_block_news_small for_block_news_small_news">
                                <div class="for_block_news_small_left">
                                    <a href="#">
                                        <img src="images/for_news_photo_3.jpg" alt="image">
                                        <img src="images/for_news_photo_2.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="for_block_news_small_right">
                                    <div class="for_block_news_small_date">
                                        20.12.2013
                                    </div>
                                    <div class="for_block_news_small_text">
                                        Освіта: від соціального<br>
                                        баласту до локомотиву<br>
                                        розвитку власної економіки”
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="for_block_news_small for_block_news_small_news">
                                <div class="for_block_news_small_left">
                                    <a href="#">
                                        <img src="images/for_news_photo_3.jpg" alt="image">
                                        <img src="images/for_news_photo_2.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="for_block_news_small_right">
                                    <div class="for_block_news_small_date">
                                        20.12.2013
                                    </div>
                                    <div class="for_block_news_small_text">
                                        Освіта: від соціального<br>
                                        баласту до локомотиву<br>
                                        баласту до локомотиву<br>
                                        розвитку власної економіки”
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="for_block_news_small for_block_news_small_news">
                                <div class="for_block_news_small_left">
                                    <a href="#">
                                        <img src="images/for_news_photo_3.jpg" alt="image">
                                        <img src="images/for_news_photo_2.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="for_block_news_small_right">
                                    <div class="for_block_news_small_date">
                                        20.12.2013
                                    </div>
                                    <div class="for_block_news_small_text">
                                        Освіта: від соціального<br>
                                        баласту до локомотиву<br>
                                        розвитку власної економіки”
                                    </div>
                                </div>
                                <div class="pad"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="for_news_list">
                <div class="for_news_item">
                    <div class="for_news_item_date">
                        20.12.2013
                    </div>
                    <div class="for_news_item_title">
                        Віктор Кривенко: "Україна має експортувати не сировину, а продукти!"
                    </div>
                    <div class="for_news_item_text">
                        Віктор Галасюк взяв участь у дебатах “Яка економічна стратегія потрібна Україні?” та розповів
                        про необхідність розвитку розвитку<br>
                        високотехнологічних галузей економіки України. <a href="#">докладніше</a>
                    </div>
                </div>
                <div class="for_news_item">
                    <div class="for_news_item_date">
                        20.12.2013
                    </div>
                    <div class="for_news_item_title">
                        Віктор Кривенко: "Україна має експортувати не сировину, а продукти!"
                    </div>
                    <div class="for_news_item_text">
                        Віктор Галасюк взяв участь у дебатах “Яка економічна стратегія потрібна Україні?” та розповів
                        про необхідність розвитку розвитку<br>
                        високотехнологічних галузей економіки України. <a href="#">докладніше</a>
                    </div>
                </div>
                <div class="for_news_item">
                    <div class="for_news_item_date">
                        20.12.2013
                    </div>
                    <div class="for_news_item_title">
                        Віктор Кривенко: "Україна має експортувати не сировину, а продукти!"
                    </div>
                    <div class="for_news_item_text">
                        Віктор Галасюк взяв участь у дебатах “Яка економічна стратегія потрібна Україні?” та розповів
                        про необхідність розвитку розвитку<br>
                        високотехнологічних галузей економіки України. <a href="#">докладніше</a>
                    </div>
                </div>
                <div class="for_news_item">
                    <div class="for_news_item_date">
                        20.12.2013
                    </div>
                    <div class="for_news_item_title">
                        Віктор Кривенко: "Україна має експортувати не сировину, а продукти!"
                    </div>
                    <div class="for_news_item_text">
                        Віктор Галасюк взяв участь у дебатах “Яка економічна стратегія потрібна Україні?” та розповів
                        про необхідність розвитку розвитку<br>
                        високотехнологічних галузей економіки України. <a href="#">докладніше</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="for_block_organization">
                <div class="for_block_org_title">
                    Організатори форуму
                </div>
                <div class="for_block_org_links">
                    <a href="#">
                        <img src="images/for_org_1.png" alt="organizator">
                    </a>
                    <a href="#">
                        <img src="images/for_org_2.png" alt="organizator">
                    </a>
                </div>
            </div>
            <div class="for_block_partners">
                <div class="for_block_part_title">
                    Партнери
                </div>
                <div class="for_block_part_cont">
                    <div id="for_bot_slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_1.png" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_2.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_3.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_4.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_5.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_6.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_7.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_1.png" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_2.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_3.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_4.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_5.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_6.jpg" alt="partner">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/for_part_7.jpg" alt="partner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
