{% extends "base.html" %}

{% load static core_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="container">
        {% if news.number == 1 %}
            {% include "core/top_news.html" with news=news|slice:"0:5" %}
            {% include "core/normal_news.html" with news=news|slice:"5:" %}
        {% else %}
            {% include "core/normal_news.html" with news=news %}
        {% endif %}

        {% include "core/pagination.html" with items=news %}

    </div>

{% endblock %}
