{% extends "base.html" %}

{% load static core_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% for organizer in self.organizers %}

                    <div class="for_block_org">
                        <div class="for_block_title for_block_title_org">
                            <div class="for_block_title_top">
                                <a href="{{ organizer.link }}">
                                    {% trans_field organizer 'title' %}
                                </a>
                            </div>
                            <div class="for_block_title_bot">
                                <div class="for_block_title_bot_in"></div>
                            </div>
                        </div>
                        <div class="for_block_org_cont">
                            <div class="for_block_org_logo">
                                <a href="{{ organizer.link }}">
                                    {% image organizer.logo max-269x120 %}
                                </a>
                            </div>
                            <div class="for_block_org_right">
                                <div class="for_block_org_right_top">
                                    {% trans_field organizer 'description' %}
                                </div>
                                <div class="for_block_org_right_bot">
                                    <a href="{{ organizer.link }}">
                                        {{ organizer.link }}
                                    </a>
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <br>
    <br>
     <div class="for_block_title">
        <div class="for_block_title_top">
            {% trans "Organizational Committee" %}
        </div>
        <div class="for_block_title_bot">
            <div class="for_block_title_bot_in"></div>
        </div>
    </div>

    {% with org_committee=self.org_committee_persons %}

    <div class="container">
        <div class="row row-centered">
                {% for organizer in org_committee %}
                    {# split every 4 items #}
                    {% if forloop.counter0|divisibleby:"4" and forloop.counter0 > 0 %}
                        </div><div class="row row-centered">
                    {% endif %}

                    <div class="col-xs-3 col-centered">
                        <div class="for_block_sp_item" style="height: 350px; overflow: hidden">
                            <span class="for_block_sp_photo">
                                {% image organizer.photo height-300 as photo %}
                                <a href="{{ organizer.url }}">
                                    <img src="{{ photo.url }}" width="270" height="300" alt="{{ photo.alt }}" />
                                </a>
                            </span>
                            <span class="for_block_sp_name">
                              <a href="{{ organizer.url }}" style="margin-top: 10px; margin-bottom: 5px">
                                {% trans_field organizer 'title' %}
                              </a>
                            </span>
                            <span class="for_block_sp_about">
                                {% trans_field organizer 'position' %}
                            </span>
                        </div>
                    </div>

                {% endfor %}
        </div>
    </div>

    {% endwith  %}

{% endblock %}
