{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
{#        <div class="col-xs-12">#}
{#            <div class="for_pathway">#}
{#                <a href="#">Головна</a> > <a href="#">Програма</a> > Високі технології: Україна в хай-тек перегонах#}
{#            </div>#}
{#        </div>#}
        <div class="col-xs-12">
            <div class="for_block_panel">
                <div class="for_block_title">
                    <div class="for_block_title_top">
                        <a href="#">
                            Високі технології: Україна в хай-тек перегонах
                        </a>
                    </div>
                    <div class="for_block_title_bot">
                        <div class="for_block_title_bot_in"></div>
                    </div>
                </div>
                <div class="for_block_pan_cont">
                    <div class="for_block_pan_left">
                        <div class="for_block_pan_time">
                            10:00 - 11:15
                        </div>
                        <div>
                            зал Даллас 1
                        </div>
                    </div>
                    <div class="for_block_pan_right">
                        <p>
                            Машинобудування в будь-якій країні є запорукою розвитку. В Україні цей сектор представлений
                            підприємствами, що працюють за технологіями початку 1990-х років. Рух у напрямку
                            деіндустріалізації є реальністю сьогодення.<br>
                            <br>
                            Однак, згідно зі світовою практикою, машинобудування є одним з базисів розвитку
                            постіндустріальної економіки та економіки знань.<br>
                            Чи можуть старі підприємства оновитися та стати впливовими гравцями на глобальному
                            ринку?<br>
                            <br>
                            Автомобілебудування в Україні – міф чи реальність?<br>
                            <br>
                            Чи потрібне важке машинобудування українській економіці?<br>
                            <br>
                            Наскільки продуктивною для України є ідея стати «фабрикою Європи», концентруючи у країні
                            складальні виробництва із різним ступенем локалізації?<br>
                            <br>
                            Як замінити втрачений ринок Росії іншими ринками?<br>
                            <br>
                            Що може дати машинобудування для розвитку освіти та наукових розробок?<br>
                        </p>
                    </div>
                    <div class="pad"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
