{% extends "base.html" %}

{% load static core_tags wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% for partner in self.partners %}

                    <div class="for_block_org">
                        <div class="for_block_title for_block_title_org">
                            <div class="for_block_title_top">
                                <a href="{{ partner.link }}">
                                    {% trans_field partner 'title' %}
                                </a>
                            </div>
                            <div class="for_block_title_bot">
                                <div class="for_block_title_bot_in"></div>
                            </div>
                        </div>
                        <div class="for_block_org_cont">
                            <div class="for_block_org_logo">
                                <a href="{{ partner.link }}">
                                    {% image partner.logo max-269x120 %}
                                </a>
                            </div>
                            <div class="for_block_org_right">
                                <div class="for_block_org_right_top">
                                    {% trans_field partner 'description' %}
                                </div>
                                <div class="for_block_org_right_bot">
                                    <a href="{{ partner.link }}">
                                        {{ partner.link }}
                                    </a>
                                </div>
                            </div>
                            <div class="pad"></div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>


















{#    {% for partner in self.partners %}#}
{##}
{#        {% if forloop.counter0|divisibleby:"4" and forloop.counter0 > 0 %}#}
{#            </div><div class="row">#}
{#        {% endif %}#}
{##}
{#        <div class="col-xs-3">#}
{#            <div class="for_block_pl_photo">#}
{#                <a href="{{ partner.link }}">#}
{#                <span class="for_block_sp_photo">#}
{#                         {% image partner.logo height-150 %}#}
{#                </span>#}
{#                <span class="for_block_sp_name">#}
{#                    {% trans_field partner 'title' %}#}
{#                </span>#}
{#                <span class="for_block_sp_about">#}
{#                </span>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{##}
{#    {% endfor %}#}
</div>

{% endblock %}





