{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
{#        <div class="col-xs-12">#}
{#            <div class="for_pathway">#}
{#                <a href="#">Головна</a> > Про форум#}
{#            </div>#}
{#        </div>#}
        <div class="col-xs-12">
            <div class="for_block_pack">
                <div class="for_block_title for_block_title_pack">
                    <div class="for_block_title_top">
                        <a href="#">
                            пакети учасників
                        </a>
                    </div>
                    <div class="for_block_title_bot">
                        <div class="for_block_title_bot_in"></div>
                    </div>
                </div>
                <div class="for_block_pack_cont">
                    <div class="for_block_pack_cont_title">
                        <div class="row">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4">
                                Пакет “Бізнес”
                            </div>
                            <div class="col-xs-4">
                                Пакет “Платинум”
                            </div>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <td>
                                Формат участi
                            </td>
                            <td>
                                Участь у діловій програмі<br>
                                Форуму та бiзнес-ланч
                            </td>
                            <td>
                                Участь у діловій програмі Форуму,<br>
                                вечірній банкет-прийом та неформальне<br>
                                спілкування з визначними спікерами,<br>
                                бізнесменами, експертами ринку
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Вартість квитка в період з<br>
                                1 по 14 червня 2014 року
                            </td>
                            <td>
                                UAH 500
                            </td>
                            <td>
                                UAH 3000
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Вартість квитка в період з<br>
                                15 червня по 14 вересня
                            </td>
                            <td>
                                UAH 700
                            </td>
                            <td>
                                UAH 4000
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Вартість квитка в період з<br>
                                15 вересня по 2 жовтня
                            </td>
                            <td>
                                UAH 1000
                            </td>
                            <td>
                                UAH 5000
                            </td>
                        </tr>
                    </table>
                    <div class="for_block_pack_sale">
                        20% знижка для членів клубу КОЛО, EBA, ACC*<br>
                        20% знижка на 3-й квиток для учасників від однієї компанії.<br>
                        *Отримати спеціальний код на знижку можна у організаторів Форуму.<br>
                        Знижки не сумуються, загальний розмір знижки не може перевищувати 20%.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
