{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    {#    <iframe src="{{ self.preview_url }}"></iframe>#}
    {#    <object type="text/html" data={{ self.preview_url }}></object>#}

    <div style='position: relative; padding-bottom: 101%; height: 0; overflow: hidden;'>
        <iframe id='iframe'
                src={{ self.preview_url }}
                scrolling='no' frameborder='0'
                style='width:100%; height:100%; position: absolute; top:0; left:0;'></iframe>
    </div>

    {#    <div id="xxx"></div>#}


{% endblock %}


{#{% block extra_js %}#}
{#<script>#}
{#        $(document).ready(function () {#}
{#            $.get('{{ self.preview_url }}', function (data) {#}
{#                alert(data);#}
{#                $("#xxx").html(data);#}
{#            });#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
