{% load wagtailcore_tags %}
{% load core_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<div class="for_block_prog">

    <div class="for_block_prog_cont">

        <table>
            <tbody>
            <tr>
                <td>
                    <div>
                        <img src="{% static 'images/for_time.png' %}" alt="Time">
                    </div>
                </td>
                <td>
                    <div>
                        <img class="location" src="{% static 'images/for_location.png' %}" alt="Location">
                    </div>
                </td>
                <td>
                    <div>
                        <img src="{% static 'images/for_message.png' %}" alt="Description">
                    </div>
                </td>
            </tr>

            {% for section in sections %}

                <tr>
                    <td>
                        <div class="section-time" style="height: 108px">
                            {% if section.section_type != '' %}
                                <span>
                                    {{ section.get_section_type_display|default_if_none:"" }}
                                </span>
                            {% endif %}
                            {% if section.section_type == 'PD' %}
                                {% for panel in section.panels %}
                                    {% with panel.specific as specific_panel %}
                                        <div class="program-time {{ panel.slug }}">
                                            {{ specific_panel.start_time|time:"H:i" }}
                                            {% if specific_panel.end_time %}
                                                - {{ specific_panel.end_time|time:"H:i" }}
                                            {% endif %}&nbsp;
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            {% else %}
                                {{ section.start_time|time:"H:i" }} - {{ section.end_time|time:"H:i" }}
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="section-location">
                            {% if section.section_type == 'PD' %} {# empty span to push following items down 1 row #}
                                <span>&nbsp;</span>
                            {% endif %}
                            {% for panel in section.panels %}
                                <span class="{{ panel.slug }}">
                                    {% trans_field panel "location" %}
                                </span>&nbsp;
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div class="section-name">
                            {% if section.section_type == 'PD' %} {# empty span to push following items down 1 row #}
                                <span>&nbsp;</span>
                            {% endif %}
                            {% if section.panels %}
                                {% if section.section_type != 'PD' %} {# Panel discussion should have no title #}
                                    <b>{% trans_field section "title" %}</b>
                                {% endif %}
                            {% else %}
                                {% trans_field section "title" %}
                            {% endif %}
                            <ul>
                                {% for panel in section.panels %}
                                    <li class="{{ panel.slug }}">
                                        {% if panel.specific.enable_link %}
                                            <a href="{{ panel.url }}">{% trans_field panel "title" %}</a>
                                        {% else %}
                                            {% trans_field panel "title" %}
                                        {% endif %}
                                    </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
        {#                <div class="for_block_prog_bot">#}
        {#                    *За окремим запрошенням<br/>#}
        {#                    **Для власників пакету «Платинум»<br/>#}
        {#                    В програмі можливі зміни#}
        {#                </div>#}


    </div>

</div>

<script src="{% static 'js/forumkyiv.js' %}"></script>
