{% extends "base.html" %}

{% load static core_tags %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content_title %}

    {% get_current_language as LANGUAGE_CODE %}

    <div class="for_block_title">
        <div class="for_block_title_top">
            {% trans "program" %}
        </div>
        <div class="for_block_title_bot">
            <div class="for_block_title_bot_in"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="container">
    {% get_current_language as LANGUAGE_CODE %}

    <div class="row">
        <div class="col-xs-12">
            {% include "core/program.html" with sections=self.sections %}
        </div>
    </div>
</div>

{% endblock %}
