{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="for_block_rada">
                    <div class="for_block_rada_cont">
                        <div class="row">


                            {% for member in self.members.all %}

                                {% if forloop.counter0|divisibleby:"4" and forloop.counter0 > 0 %}
                                    </div>
                                    <div class="row">
                                {% endif %}

                                <div class="col-xs-3">
                                    <div class="for_block_sp_item">
                                        <a style="cursor: default;" href="#">
                                            {#                                    <a href="{% pageurl member.speaker_page %}">#}
                                        <span class="for_block_sp_photo">
                                            {% image member.photo height-300 as photo %}
                                            <img src="{{ photo.url }}" width="270" height="300" alt="{{ photo.alt }}"
                                                 class="grayscale grayscale-fade"/>
                                        </span>
                                        <span class="for_block_sp_name">
                                            {% trans_field member 'title' %}
                                        </span>
                                        <span class="for_block_sp_about">
                                            {% trans_field member 'position' %}
                                        </span>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}


                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
