{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
{#        <div class="col-xs-12">#}
{#            <div class="for_pathway">#}
{#                <a href="#">Головна</a> > Спікери#}
{#            </div>#}
{#        </div>#}
        <div class="col-xs-12">
            <div class="for_speakers">
                <div class="for_block_title for_block_title_sp">
                    <div class="for_block_title_top">
                        <a href="#">
                            Спікери
                        </a>
                    </div>
                    <div class="for_block_title_bot">
                        <div class="for_block_title_bot_in"></div>
                    </div>
                </div>
                <div class="for_speakers_abc">
                    <ul>
                        <li>
                            <a href="#">
                                А
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Б
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                В
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Г
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                ґ
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Д
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Е
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Є
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ж
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                З
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                І
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ї
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Й
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                К
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Л
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                М
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Н
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                О
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                П
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Р
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                С
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Т
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                У
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ф
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Х
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ц
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ч
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ш
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Щ
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ю
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Я
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Всі
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="for_block_sp_cont_sp">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_2.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Seok Pil Kim
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор з маркетингу та керівник<br>
                                                    відділу глобальних B2B Center, Samsung<br>
                                                    Electronics
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_2.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Martin Winterkorn
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Голова ради директорів Volkswagen AG
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_3.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Martin Matrone
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор з розвитку
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_4.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Steve Flaulkin
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор зі стратегії, Cloudera
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_5.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Mikko hypponen
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор з маркетингу та керівник<br>
                                                    відділу глобальних B2B Center, Samsung<br>
                                                    Electronics
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_6.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Martin Winterkorn
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Голова ради директорів Volkswagen AG
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_7.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Mark Shuttleworth
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор з розвитку
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_8.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Steve Flaulkin
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор зі стратегії, Cloudera
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_2.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Seok Pil Kim
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор з маркетингу та керівник<br>
                                                    відділу глобальних B2B Center, Samsung<br>
                                                    Electronics
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_2.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Martin Winterkorn
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Голова ради директорів Volkswagen AG
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_3.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Martin Matrone
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор з розвитку
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_4.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Steve Flaulkin
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор зі стратегії, Cloudera
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_5.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Mikko hypponen
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор з маркетингу та керівник<br>
                                                    відділу глобальних B2B Center, Samsung<br>
                                                    Electronics
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_6.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Martin Winterkorn
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Голова ради директорів Volkswagen AG
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_7.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Mark Shuttleworth
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор з розвитку
                                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="for_block_sp_item">
                                <a href="#">
                                                <span class="for_block_sp_photo">
                                                    <img src="images/for_speaker_1_hover.jpg" alt="photo">
                                                    <img src="images/for_speaker_8.jpg" alt="photo">
                                                </span>
                                                <span class="for_block_sp_name">
                                                    Steve Flaulkin
                                                </span>
                                                <span class="for_block_sp_about">
                                                    Директор зі стратегії, Cloudera
                                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
