@font-face
{
    font-family: 'PFBeauSansPro-Bbook';
    src: url('/static/fonts/PFBeauSansPro-Bbook.eot');
    src: url('/static/fonts/PFBeauSansPro-Bbook.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/PFBeauSansPro-Bbook.woff') format('woff'),
    url('/static/fonts/PFBeauSansPro-Bbook.ttf') format('truetype'),
    url('/static/fonts/PFBeauSansPro-Bbook.svg#pf_beausans_probbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'PFBeauSansPro-Bold';
    src: url('/static/fonts/PFBeauSansPro-Bold.eot');
    src: url('/static/fonts/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/PFBeauSansPro-Bold.woff') format('woff'),
    url('/static/fonts/PFBeauSansPro-Bold.ttf') format('truetype'),
    url('/static/fonts/PFBeauSansPro-Bold.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'PFBeauSansPro-Light';
    src: url('/static/fonts/PFBeauSansPro-Light.eot');
    src: url('/static/fonts/PFBeauSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/PFBeauSansPro-Light.woff') format('woff'),
    url('/static/fonts/PFBeauSansPro-Light.ttf') format('truetype'),
    url('/static/fonts/PFBeauSansPro-Light.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'PFBeauSansPro-SemiBold';
    src: url('/static/fonts/PFBeauSansPro-SemiBold.eot');
    src: url('/static/fonts/PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/PFBeauSansPro-SemiBold.woff') format('woff'),
    url('/static/fonts/PFBeauSansPro-SemiBold.ttf') format('truetype'),
    url('/static/fonts/PFBeauSansPro-SemiBold.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'PFBeauSansPro-Reg';
    src: url('/static/fonts/PFBeauSansPro-Reg.eot');
    src: url('/static/fonts/PFBeauSansPro-Reg.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/PFBeauSansPro-Reg.woff') format('woff'),
    url('/static/fonts/PFBeauSansPro-Reg.ttf') format('truetype'),
    url('/static/fonts/PFBeauSansPro-Reg.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'PFBeauSansPro-Thin';
    src: url('/static/fonts/PFBeauSansPro-Thin.eot');
    src: url('/static/fonts/PFBeauSansPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/PFBeauSansPro-Thin.woff') format('woff'),
    url('/static/fonts/PFBeauSansPro-Thin.ttf') format('truetype'),
    url('/static/fonts/PFBeauSansPro-Thin.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
#for_wrapper
{
    min-height: 100%;
    min-width: 1230px;
}
.for_cont
{
    width: 1170px;
    margin: 0 auto;
}
.pad
{
    clear: both;
}

img
{
    border:none;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
}
a:focus
{
    text-decoration: none;
}
ul
{
    margin: 0;

}
.container
{
     width: 1200px !important;
 }

/********** HEADER **********/

.for_header
{
    background: #0098cf url("/static/images/for_header.jpg") top center no-repeat;
    height: 584px;
    margin-bottom: 45px;
}
.for_header_no_index
{
    margin-bottom: 20px;
}
.for_top_header
{
    background: rgba(16, 22, 54, 0.1);
    height: 85px;
}
.for_left_header
{
    float: left;
    padding-top: 12px;
}
.for_right_header
{
    float: right;
    padding-top: 21px;
}
.for_lang_search
{
    overflow: hidden;
    margin-bottom: 18px;
}
.for_lang_search > div
{
    float: right;
}
.for_lang
{
    margin-right: 34px;
}
.for_lang > ul
{
    font-size: 14px;
    height: 20px;
    line-height: 22px;
    padding-left: 26px;
    background: url("/static/images/for_lang.png") left top no-repeat;
    margin-bottom: 0;
}
.for_lang > ul > li
{
    float: left;
}
.for_lang > ul > li:after
{
    display: block;
    float: left;
    content: '/';
    color: #c3c3c3;
    margin: 0 5px;
}
.for_lang > ul > li:first-child:after
{
    color: #fff;
}
.for_lang > ul > li:last-child:after
{
    display: none;
}
.for_lang > ul > li > a
{
    color: #c3c3c3;
    float: left;
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
}
.for_lang > ul > li:first-child > a
{
    color: #fff;
    font-family: 'PFBeauSansPro-Bold', Arial, sans-serif;
    font-weight: bold;
}
.for_search > form
{
    height: 20px;
}
.for_search > form > input
{
    display: block;
    float: left;
}
.for_form_text
{
    border: none;
    padding: 0 5px;
    box-sizing: border-box;
    width: 160px;
    height: 20px;
    background: rgba(255, 255, 255, 0.7);
    color: #fff;
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
}
.for_form_sub
{
    border: none;
    padding: 0;
    margin-left: 3px;
    width: 20px;
    height: 20px;
    background: url("/static/images/for_search.png") left top no-repeat;
    cursor: pointer;
}
.for_top_menu > ul
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 17px;
    height: 24px;
    line-height: normal;
}
.for_top_menu > ul > li
{
    float: left;
    height: 24px;
    margin: 0 11px;
    position: relative;
}
.for_top_menu > ul > li:last-child
{
    margin-right: 0;
}
.for_top_menu > ul > li > a
{
    border-bottom: 1px solid transparent;
    height: 24px;
    display: block;
    -webkit-transition: border-bottom 300ms ease-out;
    -moz-transition: border-bottom 300ms ease-out;
    -o-transition: border-bottom 300ms ease-out;
    transition: border-bottom 300ms ease-out;
}
.for_top_menu > ul > li > a:hover
{
    border-bottom: 1px solid #fff;
}
.for_top_menu > ul > li a
{
    color: #fff;
}
.for_top_menu > ul > li > ul
{
    display: none;
    position: absolute;
    top: 24px;
    background: rgba(16, 22, 54, 0.1);
    padding: 4px 12px;
    min-width: 170px;
}
.for_top_menu > ul > li:hover > ul
{
    display: block;
}
.for_top_menu > ul > li > ul > li
{
    padding: 2px 0;
}
.for_top_menu > ul > li > ul > li > a
{
    line-height: 17px;
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    -o-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
}
.for_top_menu > ul > li > ul > li > a:hover
{
    color: #c3c3c3;
}
.for_slider
{
    padding-top: 138px;
}
.for_slider .item
{
    margin-left: 196px;
    color: #fff;
}
#for_top_slider .item img
{
    display: block;
    width: 100%;
    height: auto;
}
.for_slide_block_1
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 10px;
}
.for_slide_block_2
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 62px;
    line-height: 62px;
    margin-bottom: 12px;
}
.for_slide_block_3
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 29px;
    line-height: 29px;
    margin-bottom: 14px;
}
.for_slide_block_4 a
{
    display: inline-block;
    font-family: 'PFBeauSansPro-Reg', Arial, sans-serif;
    font-size: 20px;
    line-height: 39px;
    text-transform: uppercase;
    color: #0098cf;
    background: #fff;
    height: 39px;
    padding: 0 9px;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
.for_slide_block_4 a:hover
{
    opacity: 0.9;
}

/********** BODY **********/

.for_block_title
{
    min-width: 230px;
    margin: 0 auto 45px;
}
.for_block_title_top
{
    text-align: center;
    margin-bottom: 20px;
}
.for_block_title_top a
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    color: #0098cf;
    -webkit-transition: color 100ms ease-out;
    -moz-transition: color 100ms ease-out;
    -o-transition: color 100ms ease-out;
    transition: color 100ms ease-out;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
}
.for_block_title_top a:hover
{
    color: #015b7b;
}
.for_block_title_bot
{
    position: relative;
    height: 1px;
    background: #e6e8ea;
    width: 230px;
    margin: auto;
}
.for_block_title_bot_in
{
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -25px;
    height: 14px;
    width: 50px;
    background: #fff url("/static/images/for_block.png") top center no-repeat;
}
.for_block_title_bot_back
{
    background: #f2fafd url("/static/images/for_block.png") top center no-repeat;
}
.for_block_news
{
    margin-bottom: 70px;
}
.for_block_news_cont_top
{
    height: 316px;
    background: #f5f6f6;
    box-sizing: border-box;
    padding: 1px;
    margin-bottom: 34px;
}
.for_block_news_left
{
    float: left;
}
.for_block_news_right
{
    margin-left: 600px;
    padding-top: 12px;
}
.for_block_news_date
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 19px;
    color: #989ca2;
    margin-bottom: 8px;
}
.for_block_news_title
{
    font-family: 'PFBeauSansPro-Bold', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.for_block_news_title a
{
    color: #0399cf;
}
.for_block_news_text
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #072033;
}
.for_block_news_small
{
    background: #f5f6f6;
    height: 148px;
    box-sizing: border-box;
    padding: 1px;
    overflow: hidden;
}
.for_block_news_small_left
{
    float: left;
}
.for_block_news_small_left a
{
    display: block;
    width: 270px;
    height: 146px;
    position: relative;
}
.for_block_news_small_left a img
{
    position: absolute;
    top: 0;
    left: 0;
}
.for_block_news_small_left a img:first-child
{
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
/*.for_block_news_small_left a img:last-child*/
/*{*/
    /*opacity: 0;*/
    /*-webkit-transition: opacity 300ms ease-out;*/
    /*-moz-transition: opacity 300ms ease-out;*/
    /*-o-transition: opacity 300ms ease-out;*/
    /*transition: opacity 300ms ease-out;*/
/*}*/
/*.for_block_news_small_left a:hover img:last-child*/
/*{*/
    /*opacity: 1;*/
/*}*/
.for_block_news_small_right
{
    margin-left: 285px;
    padding-top: 8px;
}
.for_block_news_small_date
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #989ca2;
    margin-bottom: 6px;
}
.for_block_news_small_text
{
    font-family: 'PFBeauSansPro-Bbook', Arial, sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #8d8e8e;
}
.for_block_title_video
{
    margin-bottom: 20px;
}
.for_block_video
{
    margin-bottom: 42px;
}
.for_block_video_cont
{
    overflow: hidden;
}
.for_block_video_view
{
    margin-bottom: 12px;
}
.for_block_video_view a
{
    display: block;
    position: relative;
    height: 146px;
}
.for_block_video_view a img
{
    position: absolute;
    width: 100%;
    height: 150px;
}
.for_play
{
    width: 49px !important;
    height: 48px !important;
    z-index: 3;
    bottom: 16px;
    left: 16px;
}
.for_video_shadow
{
    display: block;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 150px;
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
.for_block_video_view a:hover .for_video_shadow
{
    opacity: 0;
}
.for_block_video_date
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #989ca2;
    margin-bottom: 6px;
}
.for_block_video_text
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #061f33;
}
.for_block_banners
{
    margin-bottom: 60px;
}
.for_block_banners_cont
{
    overflow: hidden;
}
.for_block_banner_item a
{
    -webkit-transition: opacity 100ms ease-out;
    -moz-transition: opacity 100ms ease-out;
    -o-transition: opacity 100ms ease-out;
    transition: opacity 100ms ease-out;
}
.for_block_banner_item a img
{
    width: 100%;
    height: 100px;
}
.for_block_banner_item a:hover
{
    opacity: 0.9;
}
.for_about
{
    background: #f2fafd;
    padding: 25px 0 50px 0;
    margin-bottom: 40px;
}
.for_about_title
{
    font-family: 'PFBeauSansPro-SemiBold', Arial, sans-serif;
    text-align: center;
    font-size: 41px;
    line-height: 48px;
    color: #0098cf;
    margin-bottom: 75px;
}
.for_about_title span
{
    font-size: 51px;
}
.for_block_title_program
{
    margin-bottom: 24px;
}
.for_block_program
{
    margin-bottom: 80px;
}
.for_block_program_date
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 22px;
    color: #072033;
    text-align: center;
    margin-bottom: 45px;
}
.for_block_program_cont
{
    margin-left: 200px;
}
.for_block_program_item
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 30px;
}
.for_block_program_item:last-child
{
    margin-bottom: 0;
}
.for_block_program_time
{
    float: left;
    color: #061f33;
}
.for_block_program_event
{
    margin-left: 200px;
}
.for_block_program_event_link a
{
    color: #0097cf;
}
.for_block_program_event_link a:hover
{
    text-decoration: underline;
}
.for_block_sp_cont
{
    margin-bottom: 15px;
}
.for_block_sp_item a
{
    display: block;
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    text-align: center;
}
.for_block_sp_item a > span
{
    display: block;
}
.for_block_sp_photo
{
    position: relative;
    height: 300px;
    margin-bottom: 18px;
}
.for_block_sp_photo img
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.for_block_sp_photo img:last-child
{
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
.for_block_sp_item
{
    min-height: 390px;
}
.col-xs-3:nth-child(-n+4) > .for_block_sp_item
{
    margin-bottom: 75px;
}
.for_block_sp_item a:hover .for_block_sp_photo img:last-child
{
    opacity: 0;
}
.for_block_sp_name
{
    font-size: 17px;
    line-height: 17px;
    color: #062033;
    margin-bottom: 6px;
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    -o-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
}
.for_block_sp_item a:hover .for_block_sp_name
{
    color: #0097cf;
}
.for_block_sp_about
{
    font-size: 14px;
    line-height: 16px;
    color: #6a737b;
}
.for_block_all
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    text-align: center;
}
.for_block_all a
{
    color: #018cc0;
    text-decoration: underline;
    line-height: 19px;
}
.for_block_all a:hover
{
    text-decoration: none;
}
.for_block_organization
{
    text-align: center;
    margin-bottom: 38px;
    margin-top: 38px;
}
.for_block_org_title
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #6a737b;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.for_block_org_links a
{
    margin: 0 17px;
    opacity: 1;
    -webkit-transition: opacity 100ms ease-out;
    -moz-transition: opacity 100ms ease-out;
    -o-transition: opacity 100ms ease-out;
    transition: opacity 100ms ease-out;
}
.for_block_org_links a:hover
{
    opacity: 0.8;
}
.for_block_partners
{
    margin-bottom: 15px;
}
.for_block_part_title
{
    text-align: center;
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #6a737b;
    text-transform: uppercase;
    margin-bottom: 8px;
}
#for_bot_slider .owl-item
{
    text-align: center;
    width: auto !important;
    margin: 0 13px;
}
#for_bot_slider .owl-controls
{
    margin: 0;
}
#for_bot_slider .owl-pagination
{
    display: none;
}
#for_bot_slider .owl-buttons div
{
    position: absolute;
    top: 50%;
    margin: -15px 0 0;
    height: 30px;
    width: 19px;
    border-radius: 0;
    padding: 0;
    opacity: 1;
}
#for_bot_slider
{
    padding: 0 65px;
}
#for_bot_slider .owl-prev
{
    left: 0;
    background: url("/static/images/for_arrow_left.png") left top no-repeat;
}
#for_bot_slider .owl-next
{
    right: 0;
    background: url("/static/images/for_arrow_right.png") left top no-repeat;
}
.for_pathway
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 13px;
    color: #0098cf;
    margin-bottom: 40px;
}
.for_pathway a
{
    color: #0098cf;
}
.for_pathway a:hover
{
    color: #061f33;
}
.for_block_prev_title
{
    margin-bottom: 30px;
}
.for_block_prev
{
    margin-bottom: 55px;
}
.for_block_prev_cont
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    text-align: center;
    font-size: 19px;
    line-height: 21px;
    color: #061f33;
}
.for_block_prev_cont p
{
    margin: 0;
}
.for_block_program_arch
{
    background: #f5fbfd;
    padding: 30px 0 40px;
    margin-bottom: 35px;
}
.for_block_title_program_arch
{
    margin-bottom: 45px;
}
.for_block_speakers_arch
{
    margin-bottom: 32px;
}
.for_block_video_arch
{
    background: #f5fbfd;
    padding: 35px 0 20px;
    margin-bottom: 46px;
}
.for_block_video_cont_arch
{
    margin-bottom: 30px;
}
.for_block_photo
{
    margin-bottom: 30px;
}
.for_block_photo_cont
{
    margin-bottom: 30px;
}
.for_block_photo_title
{
    margin-bottom: 25px;
}
.for_block_photo_item a
{
    display: block;
    position: relative;
}
.for_block_photo_item a img
{
    width: 100%;
    height: 146px;
}
.for_block_photo_item a span
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
.for_block_photo_item a:hover span
{
    opacity: 0;
}
.for_block_documents
{
    background: #f5fbfd;
    padding: 45px 0 50px;
    margin-bottom: 50px;
}
.for_block_doc_item
{
    float: left;
    width: 33.33%;
}
.for_block_doc_img
{
    float: left;
}
.for_block_doc_img a img
{
    width: 98px;
    height: 146px;
    opacity: 1;
    -webkit-transition: opacity 100ms ease-out;
    -moz-transition: opacity 100ms ease-out;
    -o-transition: opacity 100ms ease-out;
    transition: opacity 100ms ease-out;
}
.for_block_doc_img a:hover img
{
    opacity: 0.9;
}
.for_block_doc_right
{
    margin-left: 112px;
}
.for_block_doc_right
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
}
.for_block_doc_date
{
    font-size: 14px;
    line-height: 14px;
    color: #989ca2;
    margin-bottom: 8px;
}
.for_block_doc_text
{
    font-size: 19px;
    line-height: 22px;
    color: #061f33;
    margin-bottom: 10px;
}
.for_block_doc_download a
{
    font-size: 19px;
    line-height: 19px;
    color: #0098cf
}
.for_block_doc_download a:hover
{
    text-decoration: underline;
}
.for_pathway_mat
{
    margin-bottom: 8px;
}
.for_block_video_cont_mat
{
    margin-bottom: 30px;
}
.for_block_photo_mat
{
    background: #f5fbfd;
    padding: 25px 0 30px;
    margin-bottom: 35px;
}
.for_block_doc_mat
{
    margin-bottom: 75px;
}
.for_block_doc_cont_mat
{
    margin-bottom: 25px;
}
.for_block_news_news
{
    margin-bottom: 60px;
}
.for_block_news_cont_bot .row > div:nth-child(-n+2) .for_block_news_small_news
{
    margin-bottom: 22px;
}
.for_news_list
{
    margin-top: 60px;
    margin-bottom: 45px;
}
.for_news_item
{
    margin-bottom: 25px;
}
.for_news_item:last-child
{
    margin-bottom: 0;
}
.for_news_item_date
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #989ca2;
    margin-bottom: 5px;
}
.for_news_item_title
{
    font-family: 'PFBeauSansPro-Bold', Arial, sans-serif;
    font-size: 19px;
    line-height: 19px;
    color: #061f33;
    margin-bottom: 5px;
}
.for_news_item_text
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #061f33;
}
.for_news_item_text a
{
    color: #0098cf;
    text-decoration: underline;
}
.for_news_item_text a:hover
{
    text-decoration: none;
}
.for_block_about
{
    margin-bottom: 78px;
}
.for_block_ab_top
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 22px;
    color: #979ca1;
    margin-bottom: 30px;
}
.for_block_ab_top span
{
    color: #0098cf;
}
.for_block_ab_list
{
    margin-bottom: 45px;
}
.for_block_ab_list_title
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 19px;
    color: #0098cf;
    margin-bottom: 20px;
}
.for_block_ab_list_in ul li
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 19px;
    color: #072033;
    padding-left: 20px;
    background: url("/static/images/for_circle.png") left 7px no-repeat;
    margin-bottom: 24px;
}
.for_block_ab_list_in ul li:last-child
{
    margin-bottom: 0;
}
.for_block_ab_img img
{
    width: 100%;
}
.for_block_ac
{
    margin-bottom: 205px;
}
.for_block_ac_cont_title
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 22px;
    color: #061f33;
    text-align: center;
    margin-bottom: 40px;
}
.for_block_ac_form
{
    width: 770px;
    margin: auto;
}
.for_ac_form_item
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
}
.for_ac_form_item_title
{
    font-size: 19px;
    line-height: 19px;
    color: #061f33;
    margin-bottom: 10px;
}
.for_ac_form_item input
{
    display: block;
    font-size: 17px;
    line-height: 17px;
    color: #0098cf;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 3px;
    border-bottom: 1px solid #000;
}
.for_ac_form_item
{
    margin-bottom: 30px;
}
.for_ac_form_go
{
    text-align: right;
}
.for_ac_form_go input
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    border: none;
    font-size: 19px;
    line-height: 19px;
    color: #989ca2;
    padding: 0 0 0 40px;
    background: url("/static/images/for_mail.png") left center no-repeat;
    cursor: pointer;
    margin-right: -15px;
}
.for_ac_form_go input:hover
{
    color: #0098cf;
    background: url("/static/images/for_mail_hover.png") left center no-repeat;
}
.for_block_bussines
{
    margin-bottom: 65px;
}
.for_block_bus_cont
{
    margin-bottom: 40px;
}
.for_block_bus_cont p
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    color: #979ca1;
    line-height: 22px;
    margin-bottom: 10px;
}
.for_under
{
    color: #072033 !important;
    margin-bottom: 0 !Important;
}
.for_block_bus_cont img
{
    width: 100%;
    margin-bottom: 30px;
}
.for_repost
{
    background: #f2fafd;
    height: 40px;
    line-height: 36px;
    margin-bottom: 58px;
}
.for_repost span
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    color: #061f33;
    margin-right: 12px;
}
.for_repost a
{
    display: inline-block;
    margin: 0 2px;
    opacity: 1;
    -webkit-transition: opacity 100ms ease-out;
    -moz-transition: opacity 100ms ease-out;
    -o-transition: opacity 100ms ease-out;
    transition: opacity 100ms ease-out;
}
.for_repost a:hover
{
    opacity: 0.9;
}
.for_block_title_org
{
    margin-bottom: 20px;
}
.for_block_org
{
    margin-bottom: 120px;
}
.for_block_org_logo
{
    float: left;
}
.for_block_org_right
{
    margin-left: 300px;
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
}
.for_block_org_right_top
{
    color: #062033;
    line-height: 24px;
}
.for_block_org_right_bot a
{
    color: #0098cf;
    line-height: 19px;
}
.for_block_org_right_bot a:hover
{
    text-decoration: underline;
}
.for_block_panel
{
    margin-bottom: 35px;
}
.for_block_pan_left
{
    float: left;
}
.for_block_pan_left div
{
    font-family: 'PFBeauSansPro-Thin', Arial, sans-serif;
    color: #0098cf;
    font-size: 19px;
    line-height: 19px;
    text-transform: uppercase;
}
.for_block_pan_time
{
    font-size: 28px !important;
    line-height: 28px !important;
    margin-bottom: 4px;
}
.for_block_pan_right
{
    margin-left: 200px;
}
.for_block_pan_right p
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    color: #061f33;
    line-height: 23px;
    margin: 0;
}
.for_pan_speakers
{
    background: #f5fbfd;
    padding: 16px 0 36px;
    margin-bottom: 30px;
}
.for_pan_speakers .container .row > div:nth-child(-n+4) .for_pan_speaker
{
    margin-bottom: 23px;
}
.for_pan_speaker
{
    height: 111px;
}
.for_pan_speaker a
{
    display: block;
    overflow: hidden;
    -webkit-transition: background 300ms ease-out;
    -moz-transition: background 300ms ease-out;
    -o-transition: background 300ms ease-out;
    transition: background 300ms ease-out;
}
.for_pan_speaker a:hover
{
    background: #fdfeff;
}
.for_pan_speaker a span
{
    display: block;
}
.for_pan_speaker_photo
{
    float: left;
}
.for_pan_speaker_photo img
{
    width: 100px;
    height: 111px;
}
.for_pan_speaker_right
{
    margin-left: 130px;
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    padding-top: 10px;
}
.for_pan_sp_name
{
    line-height: 19px;
    color: #0098cf;
}
.for_pan_sp_text
{
    line-height: 22px;
    color: #989ca2;
}
.for_pan_video
{
    margin-bottom: 55px;
}
.for_pan_video_title
{
    font-family: 'PFBeauSansPro-Thin', Arial, sans-serif;
    color: #0098cf;
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.for_block_pack
{
    margin-bottom: 110px;
}
.for_block_title_pack
{
    margin-bottom: 30px;
}
.for_block_pack_cont_title
{
    font-family: 'PFBeauSansPro-Bold', Arial, sans-serif;
    color: #0098cf;
    font-size: 18px;
    line-height: 18px;
    padding-left: 34px;
    margin-bottom: 16px;
}
.for_block_pack_cont table
{
    display: block;
    width: 100%;
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 32px;
}
.for_block_pack_cont table tbody
{
    display: block;
    width: 100%;
    border-top: 1px dashed #b4b4b4;
    border-left: 1px dashed #b4b4b4;
}
.for_block_pack_cont table tbody tr
{
    display: block;
    width: 100%;
    overflow: hidden;
}
.for_block_pack_cont table tbody tr td
{
    display: block;
    float: left;
    width: 33.33%;
    height: 64px;
    border-right: 1px dashed #b4b4b4;
    border-bottom: 1px dashed #b4b4b4;
    box-sizing: border-box;
    padding: 15px 0 0 22px;
    color: #0098cf;
}
.for_block_pack_cont table tbody tr td:first-child
{
    color: #072033;
}
.for_block_pack_cont table tbody tr:first-child td
{
    height: 112px;
}
.for_block_pack_sale
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
    line-height: 22px;
    color: #989ca2;
}
.for_block_title_sp
{
    margin-bottom: 32px;
}
.for_block_speaker
{
    margin-bottom: 135px;
}
.for_block_speaker_img
{
    float: left;
}
.for_block_speaker_img img
{
    width: 270px;
    height: 300px;
}
.for_block_speaker_right
{
    margin-left: 300px;
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 19px;
}
.for_block_speaker_name
{
    line-height: 19px;
    color: #0098cf;
    padding-top: 2px;
    margin-bottom: 8px;
}
.for_block_speaker_title
{
    line-height: 19px;
    color: #979ca1;
    margin-bottom: 20px;
}
.for_block_speaker_text
{
    line-height: 24px;
    color: #062033
}
.for_speakers_abc
{
    width: 1030px;
    margin: 0 auto 46px;
}
.for_speakers_abc ul
{
    overflow: hidden;
}
.for_speakers_abc ul li
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    margin-right: 18px;
}
.for_speakers_abc ul li:last-child
{
    text-transform: capitalize;
    margin: 0 0 0 38px;
}
.for_speakers_abc ul li a
{
    color: #072033;
}
.for_speakers_abc ul li a:hover
{
    color: #0198cf;
}
.for_block_sp_cont_sp  .for_block_sp_item
{
    margin-bottom: 40px;
}
.for_block_sp_cont_sp .col-xs-3:nth-child(-n+12) > .for_block_sp_item
{
    margin-bottom: 70px;
}

/********** FOOTER **********/

footer
{
    position: relative;
    z-index: 2;
    height: 405px;
    background: #0098cf;
    min-width: 1230px;
    box-sizing: border-box;
    padding: 55px 0 70px;
}
.for_top_foot
{
    margin-bottom: 28px;
}
.for_top_left_foot
{
    float: left;
}
.for_bot_logo
{
    float: left;
}
.for_top_right_foot
{
    float: right;
}
.for__bot_search
{
    margin-left: 270px;
}
.for_add
{
    font-family: 'PFBeauSansPro-Bold', Arial, sans-serif;
    font-size: 17px;
    color: #fff;
    margin-right: 10px;
}
.for_top_right_foot a
{
    margin: 0 2px;
    -webkit-transition: opacity 100ms ease-out;
    -moz-transition: opacity 100ms ease-out;
    -o-transition: opacity 100ms ease-out;
    transition: opacity 100ms ease-out;
}
.for_top_right_foot a:hover
{
    opacity: 0.9;
}
.for_bot_foot
{
    margin-bottom: 40px;
}
.for_contacts
{
    float: left;
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}
.for_contacts span
{
    font-family: 'PFBeauSansPro-Bold', Arial, sans-serif;
}
.for_footer_list
{
    margin-left: 270px;
}
.for_footer_list .row > div
{
    padding-right: 0;
}
.for_footer_item
{
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 17px;
    color: #fff;
}
.for_footer_item ul li:first-child
{
    font-family: 'PFBeauSansPro-Bold', Arial, sans-serif;
}
.for_footer_item ul li a
{
    color: #fff;
}
.for_footer_item ul li a:hover
{
    text-decoration: underline;
}
.for_copyright
{
    text-align: right;
    font-family: 'PFBeauSansPro-Light', Arial, sans-serif;
    font-size: 13px;
    color: #fff;
}

